<style>
    /* calender */

    .container-calendar {
        /* background: #ffffff; */
        padding: 15px;
        max-width: 404px;
        margin: 0 auto;
        overflow: auto;
        background: #003399;
        border-radius: 32px;
    }

    .btn-seltab {
        /* background-color: var(---primary) !important;
        border-color: var(---primary); */
    }
    .dark-mode .btn-seltab {
        background-color: var(---primary) !important;
        border-color: var(---primary);
    }

    .selTabFont {
        font-size: 21px;
        font-weight: 400;
        color: white;

    }

    .unselTabFont {
        font-size: 21px;
        font-weight: 400;
        color: black;

    }

    .btn-unseltab {
        /* background-color: #ffffff;
        border-color: #ffffff; */
    }

    .button-container-calendar button {
        cursor: pointer;
        display: inline-block;
        zoom: 1;
        background: #003399;
        color: #fff;
        border: 1px solid #0aa2b5;
        border-radius: 4px;
        padding: 5px 10px;
    }

    .table-calendar {
        border-collapse: collapse;
        width: 100%;
        color: white
    }

    .table-calendar td,
    .table-calendar th {
        padding: 5px;

        text-align: center;
        vertical-align: top;
    }

    .date-picker.selected {
        font-weight: bold;
        outline: 1px dashed #00BCD4;
    }

    .date-picker.selected span {
        border-bottom: 2px solid currentColor;
    }

    /* sunday */


    /* friday */
    .date-picker:nth-child(7) {
        color: red;
    }

    #monthAndYear {
        text-align: center;
        margin-top: 0;
        color: white;
    }

    .addNew {
        margin: 7px;
    }

    /* .text-end{
    font-size: 3rem !important;
    font-weight: bolder;
    text-align: center;
} */
</style>
<div class="home-section" style="margin: 10px;height:100%">
    <uib-tabset active="activeJustified" justified="true">


        <!-- RFID Zone start -->
        <uib-tab heading="">
            <div class="row">
                <div ng-class="selTab=='home'?'selTabFont col-md-3':'unselTabFont col-md-3'" class="btn btn-navigation" ng-click="goToOverview()">
                    <button type="button"
                        ng-class="selTab=='home'?'btn btn-seltab btn-rounded selTabFont':'btn btn-unseltab btn-rounded unselTabFont'"
                        style="height:40px;"><span>Overview</span></button>

                </div>
                <div ng-class="selTab=='saas'?'selTabFont col-md-3':'unselTabFont col-md-3'" class="btn btn-navigation" ng-click="goToSAAS()">
                    <button type="button"
                        ng-class="selTab=='saas'?'btn btn-seltab btn-rounded selTabFont':'btn btn-unseltab btn-rounded unselTabFont'"
                        style="height:40px;"> <span>SAAS</span></button>
                </div>
                <div ng-class="selTab=='install'?'selTabFont col-md-3':'unselTabFont col-md-3'" class="btn btn-navigation"
                    ng-click="goToInstalled()">
                    <button type="button"
                        ng-class="selTab=='install'?'btn btn-seltab btn-rounded selTabFont':'btn btn-unseltab btn-rounded unselTabFont'"
                        style="height:40px;"><span>Installed</span></button>

                </div>
                <div ng-class="selTab=='system'?'selTabFont col-md-3':'unselTabFont col-md-3'" class="btn btn-navigation" ng-click="goToSystem()">
                    <button type="button"
                        ng-class="selTab=='system'?'btn btn-seltab btn-rounded selTabFont':'btn btn-unseltab btn-rounded unselTabFont'"
                        style="height:40px;"> <span>System</span></button>
                </div>
            </div>


            <!--   <div class="btn-group btn_align">
  						  											<button type="button" ng-class="selTab=='home'?'btn btn-seltab btn-rounded':'btn btn-unseltab btn-rounded'" style="height:40px;width: 50%" ng-click="goToAssetDashboard()"><span ng-class="selTab=='home'?'selTabFont':'unselTabFont'" >Asset</span></button>
 											 <button type="button" ng-class="selTab=='licence'?'btn btn-seltab btn-rounded':'btn btn-unseltab btn-rounded'"style="height:40px;width: 50%;" ng-click="goToLicenceDashboard()"> <span ng-class="selTab=='licence'?'selTabFont':'unselTabFont'" >Licence</span></button>  			
  	    	</div> -->
            <div class="container-fluid mt-" ng-show="menuBranch==0||menuBranch==1">
                <div class="row">
                    <!--                         <legend class="dotted ml-3" style="color: #616060;"><b>OVERVIEW</b></legend>
 -->
                </div>
                <div class="row mt-5 ">
                    <div class="col-md-4" ng-click="allAsset()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">Total EndPoint </div>
                            <div class="card-body">
                                <h5 class="card-text card-title"></h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.assetCount}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-3 dash-card" style="width: 266px" ng-click="gotoEmployee()">
                            <div class="card-header">Employee</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"></h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.employeeCount}} </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" ng-click="assingedAsset()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">Assigned EndPoint </div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.assignedAssetCount}} </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" ng-click="installLicence()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">Install Licence</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.totalInstock}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-click="saasLicence()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">SAAS Licence</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.totalSaas}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-click="todayFetchCount()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">Today Fetch</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.todayFetchCount}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-click="assingedLicence()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">Assigned Licences</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.assignedSaas}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-click="customerSuppliedSoftware()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">Customer Software</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.customerSoftware}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-click="customerSuppliedSoftware()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">Customer Software No</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.customerSoftwareTotalCount}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-click="saasLiceneExpiry()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">End Of Life SAAS</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.endOfLifeSAAS}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-click="eodInstall()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">End Of Life Install</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.endOfLifeInstall}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" ng-click="renewLicence()">
                        <div class="card mb-3 dash-card" style="width: 266px">
                            <div class="card-header">Renewal Lincence</div>
                            <div class="card-body">
                                <h5 class="card-text card-title"> </h5>
                                <h3 class="card-text text-end"> {{vm.overviewDashBoardCount.renewalCount}} </h3>
                            </div>
                        </div>
                    </div>

                </div>


            </div>






            <!-- pie chart start -->

            <div class="row mt-5  ">
                <div class="col-md-6 ">

                    <div class="panel-body container-fluid">
                        <section>
                            <div class="card">
                                <h4 class="mb-3 p-4 card-header"><b>EndPoint Status</b></h4>
                                <!-- <hr> -->

                                <div class="card-body">
                                    <section class="">


                                        <canvas id="doughnut" class="chart chart-doughnut chart-xs ng-isolate-scope"
                                            chart-data="vm.statusWiseAsset.counts"
                                            chart-labels="vm.statusWiseAsset.names" chart-colors="colorsPie" width="523"
                                            height="261"
                                            style="display: block; width: 523px; height: 261px;border: none"></canvas>



                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="col-md-6 ">

                    <div class="panel-body container-fluid">
                        <section>
                            <div class="card ">
                                <h4 class="mb-3 p-4 card-header"><b>EndPoint Types</b></h4>
                                <!-- <hr> -->

                                <div class="card-body">
                                    <section class="">

                                        <canvas id="doughnut" class="chart chart-doughnut chart-xs ng-isolate-scope"
                                            chart-data="vm.typesWiseAsset.counts" chart-labels="vm.typesWiseAsset.names"
                                            chart-colors="colorsPie1" width="523" height="261"
                                            style="display: block; width: 523px; height: 261px;border: none"></canvas>


                                        <!--  -  <canvas id="pie" class=" chart-pie" chart-data="data1" 
                                        chart-labels="labels1" chart-options="optionsPie1" 
                                        chart-colors="colorsPie1" chart-options="optionsPie1" 
                                        chart-click="clickme" chart-hover="hoverme" 
                                        chart-dataset-override="PieDataSetOverride">
                                </canvas>-->

                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!--          
               <div class="row mt-5  ">
                 <div class="col-md-6 ">
              
                <div class="panel-body container-fluid">
        	<section>
            <div class="card">
             <h4 class="ml-3 mt-3"><b>Publisher-SAAS</b></h4>
             <hr>
            
                  <div class=" box">
                    <section class="">
                       
                        <canvas id="doughnut" class="chart chart-doughnut chart-xs ng-isolate-scope" 
                        chart-data="vm.saaslicencesAssociateGraph.count" chart-labels="vm.saaslicencesAssociateGraph.associateName" chart-colors="datasLicenceStockColors"  width="523" height="261" 
                        style="display: block; width: 523px; height: 261px;border: none"></canvas>
                        
                        
                          
                    </section>
                </div>
            </div>
        </section>
    </div>
    </div>
                
                 <div class="col-md-6 "  >
                
                <div class="panel-body container-fluid">
        	<section>
            <div class="card ">
             <h4 class="ml-3 mt-3"><b>Publisher-Install</b></h4>
             <hr>
            
                <div class=" box">
                    <section class="">
                       
                        
                         <canvas id="doughnut" class="chart chart-doughnut chart-xs ng-isolate-scope" 
                        chart-data="vm.installlicencesAssociateGraph.counts" chart-labels="vm.installlicencesAssociateGraph.names" chart-colors="colorsPie1"  width="523" height="261" 
                        style="display: block; width: 523px; height: 261px;border: none"></canvas>
                        
                        
                              -  <canvas id="pie" class=" chart-pie" chart-data="data1" 
                                        chart-labels="labels1" chart-options="optionsPie1" 
                                        chart-colors="colorsPie1" chart-options="optionsPie1" 
                                        chart-click="clickme" chart-hover="hoverme" 
                                        chart-dataset-override="PieDataSetOverride">
                                </canvas>
                          
                    </section>
                </div>
            </div>
        </section>
    </div>
   </div>
       </div> -->
            <!-- pie chart end -->
            <div class="row  mt-5">
                <div class="col-md-6 ">

                    <div class="panel-body container-fluid">
                        <div class="card">
                            <h4 class="mb-3 p-4 card-header"><b>Licences</b> <span class="cardH_total"
                                    style="margin-left: ;">(Total- {{vm.licencePercentage.totalCount}})</span></h4>
                            <div class="card-body">

                                <!-- <hr /> -->


                                <label>SAAS <span class="cardH_total"
                                        style="margin-left: ;">{{vm.licencePercentage.saasPercentage}}</span></label>
                                <div class="progress" style="height: 40px">
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                        role="progressbar" id="saasPercentagePro" aria-valuenow="saasLicencePer"
                                        aria-valuemin="0" aria-valuemax="100">{{saasLicencePer}}%</div>
                                </div>
                                <label>INSTALL <span class="cardH_total"
                                        style="margin-left: ;">{{vm.licencePercentage.instalPercentage}}</span></label>
                                <div class="progress" style="height: 40px">
                                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                                        role="progressbar" id="installPercentagePro" aria-valuenow="installLicencePer"
                                        aria-valuemin="0" aria-valuemax="100">{{installLicencePer}}%</div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">

                    <div class="panel-body container-fluid">
                        <div class="card">
                            <h4 class="mb-3 p-4 card-header"><b>Worker <small>(as per . {{fetchDate}})</small></b> <span
                                    class="cardH_total" style="margin-left: ;">(Total-
                                    {{vm.workerActivePercentage.totalCount}})</span></h4>
                            <div class="card-body">

                                <!-- <hr /> -->


                                <label>ACTIVE <span class="cardH_total"
                                        style="margin-left: ;">{{activeCount}}</span></label>
                                <div class="progress" style="height: 40px">
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                        role="progressbar" id="activeWorkerPro" aria-valuenow="activePer"
                                        aria-valuemin="0" aria-valuemax="100">{{activePer}}%</div>
                                </div>
                                <label>INACTIVE <span class="cardH_total"
                                        style="margin-left: ;">{{inActiveCount}}</span></label>
                                <div class="progress" style="height: 40px">
                                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                                        role="progressbar" id="inactiveWorkerPro" aria-valuenow="inactivePer"
                                        aria-valuemin="0" aria-valuemax="100">{{inactivePer}}%</div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- pie chart end -->
            <div class="row  mt-5">

                <div class="col-md-6 ">

                    <div class="panel-body container-fluid">
                        <div class="card">
                            <h4 class="mb-3 p-4 card-header"><b> Software Bundle</b></h4>
                            <div class="card-body">
                                <canvas id="line" class="chart chart-line" chart-data="dataBundle"
                                    chart-labels="labelsBundle" chart-series="seriesBundle" chart-options="options"
                                    chart-dataset-override="datasetOverride" chart-click="onClick">
                                </canvas>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">

                    <div class="panel-body container-fluid">
                        <div class="card">
                            <h4 class="mb-3 p-4 card-header"><b>Software Category</b></h4>
                            <div class="card-body">
                            <canvas id="line" class="chart chart-line" chart-data="dataCategory"
                                chart-labels="labelsCategory" chart-series="seriesCategory" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-click="onClick">
                            </canvas>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<div class="row  mt-5">

    <div class="col-md-6 ">
        <div class="panel-body container-fluid">
        <div class="card" style="height: 372px">
            <h4 class="mb-3 p-4 card-header"><b>Bundle -SAAS</b></h4>
<div class="card-body">
            <div class="material-tbl1 overflow-auto mt-3">
                <table id="datatable-buttons"
                    class=" table table-report table-bordered ttext-center align-middle justify-content-center table-bordered"
                    style="width: 1150px;">
                    <thead class="tabelhedaer-bg">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name </th>
                            <th>Count</th>

                        </tr>
                    </thead>


                    <tbody>
                        <tr dir-paginate="bundleWiseInstallLicence in vm.bundleWiseSAASLicences| filter:q |itemsPerPage:vm.perPage"
                            total-items="vm.total_count" current-page="pagination.current">

                            <td>{{$index+1}}</td>
                            <td>{{bundleWiseInstallLicence.name}}</td>
                            <td>{{bundleWiseInstallLicence.count}}</td>

                        </tr>

                    </tbody>

                </table>
                <button class="addNew" type="submit" style="background:#3226ae" data-toggle="tooltip"
                    data-placement="bottom" title="Load More" ng-click="gotoBundleSAAS()"> <span
                        style="padding: 25px;">More....</span>
                </button>

            </div>
        </div>
        </div>
</div>

    </div>
    <div class="col-md-6 ">

        <div class="panel-body container-fluid">
        <div class="card" style="height: 372px">
            <h4 class="mb-3 p-4 card-header"><b>Bundle -SAAS</b></h4>
            <div class="card-body">
            <canvas id="pie" class="chart chart-pie" chart-data="vm.bundleWiseSAASPieCount"
                chart-labels="vm.bundleWiseSAASPieName" chart-options="options">
            </canvas>
</div>
        </div>
    </div>
    </div>
</div>
<div class="row  mt-5">



    <div class="col-md-6 ">
        <div class="panel-body container-fluid">
        <div class="card" style="height: 372px">
            <h4 class="mb-3 p-4 card-header"><b>Bundle-Install</b></h4>
<div class="card-body">
            <div class="material-tbl1 overflow-auto mt-3">
                <table id="datatable-buttons"
                    class=" table table-report table-bordered ttext-center align-middle justify-content-center table-bordered"
                    style="width: 1150px;">
                    <thead class="tabelhedaer-bg">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name </th>
                            <th>Count</th>

                        </tr>
                    </thead>


                    <tbody>

                        <tr dir-paginate="bundleWiseInstallLicence in vm.bundleWiseInstallLicences| filter:q |itemsPerPage:vm.perPage"
                            total-items="vm.total_count" current-page="pagination.current">

                            <td>{{$index+1}}</td>
                            <td>{{bundleWiseInstallLicence.name}}</td>
                            <td>{{bundleWiseInstallLicence.count}}</td>

                        </tr>



                    </tbody>

                </table>
                <button class="addNew" type="submit" style="background:#3226ae" data-toggle="tooltip"
                    data-placement="bottom" title="Load More" ng-click="gotoBundleInstall()"> <span
                        style="padding: 25px;">More....</span>

            </div>
        </div>
        </div>
</div>
    </div>
    <div class="col-md-6 ">

        <div class="panel-body container-fluid">
        <div class="card" style="height: 372px">
            <h4 class="mb-3 p-4 card-header"><b>Bundle-Install</b></h4>
            <div class="card-body">
            <canvas id="pie" class="chart chart-pie" chart-data="vm.bundleWiseIntsallPieCount"
                chart-labels="vm.bundleWiseInstallPieName" chart-options="options">
            </canvas>
</div>
        </div>
        </div>
    </div>
</div>

<div class="row  mt-5">

    <div class="col-md-6 ">
        <div class="panel-body container-fluid">
        <div class="card" style="height: 372px">
            <h4 class="mb-3 p-4 card-header"><b>Category -SAAS</b></h4>
<div class="card-body">
            <div class="material-tbl1 overflow-auto mt-3">
                <table id="datatable-buttons"
                    class=" table table-report table-bordered ttext-center align-middle justify-content-center table-bordered"
                    style="width: 1150px;">
                    <thead class="tabelhedaer-bg">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name </th>
                            <th>Count</th>

                        </tr>
                    </thead>


                    <tbody>
                        <tr dir-paginate="bundleWiseInstallLicence in vm.categoryWiseSAASLicences| filter:q |itemsPerPage:vm.perPage"
                            total-items="vm.total_count" current-page="pagination.current">

                            <td>{{$index+1}}</td>
                            <td>{{bundleWiseInstallLicence.name}}</td>
                            <td>{{bundleWiseInstallLicence.count}}</td>

                        </tr>



                    </tbody>

                </table>
                <button class="addNew" type="submit" style="background:#3226ae" data-toggle="tooltip"
                    data-placement="bottom" title="Load More" ng-click="gotoCategorySAAS()"> <span
                        style="padding: 25px;">More....</span>

            </div>
        </div>
        </div>
</div>
    </div>
    <div class="col-md-6 ">

        <div class="panel-body container-fluid">
        <div class="card" style="height: 372px">
            <h4 class="mb-3 p-4 card-header"><b>Category -SAAS</b></h4>
            <div class="card-body">
            <canvas id="pie" class="chart chart-pie" chart-data="vm.cateWiseSAASPieCount"
                chart-labels="vm.cateWiseSAASPieName" chart-options="options">
            </canvas>
</div>
        </div>
        </div>
    </div>
</div>

<div class="row  mt-5">


    <div class="col-md-6 ">
        <div class="panel-body container-fluid">
        <div class="card" style="height: 372px">
            <h4 class="mb-3 p-4 card-header"><b>Category-Install</b></h4>
<div class="card-body">
            <div class="material-tbl1 overflow-auto mt-3">
                <table id="datatable-buttons"
                    class=" table table-report table-bordered ttext-center align-middle justify-content-center table-bordered"
                    style="width: 1150px;">
                    <thead class="tabelhedaer-bg">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name </th>
                            <th>Count</th>

                        </tr>
                    </thead>


                    <tbody>
                        <tr dir-paginate="bundleWiseInstallLicence in vm.categoryWiseInstallLicences| filter:q |itemsPerPage:vm.perPage"
                            total-items="vm.total_count" current-page="pagination.current">

                            <td>{{$index+1}}</td>
                            <td>{{bundleWiseInstallLicence.name}}</td>
                            <td>{{bundleWiseInstallLicence.count}}</td>

                        </tr>



                    </tbody>

                </table>
                <button class="addNew" type="submit" style="background:#3226ae" data-toggle="tooltip"
                    data-placement="bottom" title="Load More" ng-click="gotoCategoryInstall()"> <span
                        style="padding: 25px;">More....</span>

            </div>
        </div>
</div>
</div>
    </div>
    <div class="col-md-6 ">

        <div class="panel-body container-fluid">
        <div class="card" style="height: 372px">
            <h4 class="mb-3 p-4 card-header"><b>Category-Install</b></h4>
            <div class="card-body">
            <canvas id="pie" class="chart chart-pie" chart-data="vm.cateWiseIntsallPieCount"
                chart-labels="vm.cateWiseInstallPieName" chart-options="options">
            </canvas>
</div>
        </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 ">
        <div class="panel-body container-fluid">
        <div class="card" style="margin-left:13px">
            <h4 class="mb-3 p-4 card-header"><b>Publisher -SAAS</b></h4>
            <!-- <hr> -->



            <div class="material-tbl1 overflow-aut mt-3">
                <table id="datatable-buttons"
                    class=" table table-report table-bordered ttext-center align-middle justify-content-center table-bordered"
                    style="width: 1150px;">
                    <thead class="tabelhedaer-bg">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name </th>
                            <th>Count</th>

                        </tr>
                    </thead>


                    <tbody>

                        <tr dir-paginate="bundleWiseInstallLicence in vm.saaslicencesAssociateList| filter:q |itemsPerPage:vm.perPage"
                            total-items="vm.total_count" current-page="pagination.current">

                            <td>{{$index+1}}</td>
                            <td>{{bundleWiseInstallLicence.name}}</td>
                            <td>{{bundleWiseInstallLicence.count}}</td>

                        </tr>



                    </tbody>

                </table>
                <button class="addNew" type="submit" style="background:#3226ae" data-toggle="tooltip"
                    data-placement="bottom" title="Load More" ng-click="gotoPublisherSAAS()"> <span
                        style="padding: 25px;">More....</span>

            </div>
        </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="panel-body container-fluid">
        <div class="card" style="margin-left:13px">
            <h4 class="mb-3 p-4 card-header"><b>Publisher-Install</b></h4>
            <!-- <hr> -->



            <div class="material-tbl1 overflow-aut mt-3">
                <table id="datatable-buttons"
                    class=" table table-report table-bordered ttext-center align-middle justify-content-center table-bordered"
                    style="width: 1150px;">
                    <thead class="tabelhedaer-bg">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name </th>
                            <th>Count</th>

                        </tr>
                    </thead>


                    <tbody>
                        <tr dir-paginate="bundleWiseInstallLicence in vm.installlicencesAssociateList| filter:q |itemsPerPage:vm.perPage"
                            total-items="vm.total_count" current-page="pagination.current">

                            <td>{{$index+1}}</td>
                            <td>{{bundleWiseInstallLicence.name}}</td>
                            <td>{{bundleWiseInstallLicence.count}}</td>

                        </tr>



                    </tbody>

                </table>
                <button class="addNew" type="submit" style="background:#3226ae" data-toggle="tooltip"
                    data-placement="bottom" title="Load More" ng-click="gotoPublisherInstall()"> <span
                        style="padding: 25px;">More....</span>


            </div>
        </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="panel-body container-fluid">
        <div class="card" style="margin-left:13px">
            <h4 class="mb-3 p-4 card-header"><b>Database Details</b></h4>



            <div class="material-tbl1 overflow-auto mt-3">
                <table id="datatable-buttons"
                    class=" table table-report table-bordered ttext-center align-middle justify-content-center table-bordered"
                    style="width: 1150px;">
                    <thead class="tabelhedaer-bg">
                        <tr>
                            <th>Sr.No</th>
                            <th>Database Name </th>
                            <th>Edition</th>
                            <th>Count</th>

                        </tr>
                    </thead>


                    <tbody>

                        <tr dir-paginate="databaseDetial in vm.databaseDetials| filter:q |itemsPerPage:vm.perPage"
                            total-items="vm.total_count" current-page="pagination.current">

                            <td>{{$index+1}}</td>
                            <td>{{databaseDetial.dbName}}</td>
                            <td>{{databaseDetial.edition}}</td>
                            <td>{{databaseDetial.count}}</td>
                        </tr>



                    </tbody>

                </table>

            </div>
        </div>
        </div>
    </div>



</div>

<!--    
    
    <div class="row" ng-show="menuBranch==0||menuBranch==1">
    
    
    
        <div class="col-md-12 " style="margin-top: 3px;">
              <div class="panel-body container-fluid">
        <section>
            <div class="card"  style="margin-left:12px">
                <div class="box ">
                    <section  class="">
                        <div class="row lead">
                            <div class="col-md-12 text-center mt-2"   style="font-weight: 500;font-size: 1.5rem">Asset Type  Pune</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            
                           <canvas class="chart chart-bar " chart-data="assetTypesDataPune" 
                           chart-labels="assetTypeslabelsPune" chart-colors="colors3" chart-dataset-override="datasetOverride3"
                            style="display: block; width: 523px; height: 200px;">
                            </canvas>
                            
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div> 
    </div>
    </div> -->
<!--   
    <div class="row" ng-show="menuBranch==0||menuBranch==2">
    
    
    
        <div class="col-md-12 " style="margin-top: 3px;">
              <div class="panel-body container-fluid">
        <section>
            <div class="card"  style="margin-left:12px">
                <div class="box ">
                    <section  class="">
                        <div class="row lead">
                            <div class="col-md-12 text-center mt-2"   style="font-weight: 500;font-size: 1.5rem">Asset Type  Bengaluru</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            
                           <canvas class="chart chart-bar " chart-data="assetTypesDataBengaluru" 
                           chart-labels="assetTypeslabelsBengaluru" chart-colors="colors3" chart-dataset-override="datasetOverride3"
                            style="display: block; width: 523px; height: 200px;">
                            </canvas>
                            
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div> 
    </div>
    </div> -->

<!-- <div class="row" ng-show="menuBranch==0||menuBranch==2">
    
    
    
        <div class="col-md-12 " style="margin-top: 3px;">
              <div class="panel-body container-fluid">
        <section>
            <div class="card"  style="margin-left:12px">
                <div class="box ">
                    <section  class="">
                        <div class="row lead">
                            <div class="col-md-12 text-center mt-2"   style="font-weight: 500;font-size: 1.5rem">Storage Locations  Bengaluru</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            
                           <canvas class="chart chart-bar " chart-data="puneCounts" 
                           chart-labels="puneLocations" chart-colors="colorsLocations" chart-dataset-override="datasetOverride3"
                            style="display: block; width: 523px; height: 200px;">
                            </canvas>
                            
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div> 
    </div>
    </div> -->
<!-- <div class="row" ng-show="menuBranch==0||menuBranch==2">
    
    
    
        <div class="col-md-12 " style="margin-top: 3px;">
              <div class="panel-body container-fluid">
        <section>
            <div class="card"  style="margin-left:12px">
                <div class="box ">
                    <section  class="">
                        <div class="row lead">
                            <div class="col-md-12 text-center mt-2"   style="font-weight: 500;font-size: 1.5rem">Storage Locations Bengaluru</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            
                           <canvas class="chart chart-bar " chart-data="bengaluruCounts" 
                           chart-labels="bengaluruLocations" chart-colors="colorsLocations" chart-dataset-override="datasetOverride3"
                            style="display: block; width: 523px; height: 200px;">
                            </canvas>
                            
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div> 
    </div>
    </div> -->
<div class="chat row mt-5" style="padding-bottom: 114px">
    <!--   <div  class="col-md-4 col-lg-4">
     				 <div class="intro-y" style="padding-right: 19px;">
                            <div class="box p-2">
                                <div class=" chat__tabs nav nav-tabs justify-center " style="padding-left: 81px">
                                     
                                    <a href="#" class="flex-1 py-2 rounded-md text-center active">Asset Alert</a> 
                                   
                            </div>
                        </div>
                            
                 </div>
                        
                        <div class="tab-content">
                            
                           <div class=" intro-y tab-pane active" role="tabpanel" style="padding-right: 19px">
                           <div class="pr-1">
                               <div class="box p-3  mt-3">
                               <div class="relative text-gray-700 dark:text-gray-300">
                                            <input type="date" class="form-control1 py-3 px-4 border-transparent bg-gray-200 pr-10 placeholder-theme-13" ng-model="selDate" ng-change="getNotificationByDate(selDate)">
                                            
                                        </div>
                               </div>
                               </div>
                           </div>
                           
                           
                            <div class="chat__chat-list overflow-y-auto scrollbar-hidden  pt-1 mt-3" style="padding-right: 19px">
                                    <div class=" intro-y cursor-pointer box relative flex items-center p-3   " id="notify" ng-repeat="notification in vm.notifications|reverse">
                                        
                                        <div class="ml-2 overflow-hidden" ng-click="showNotification(notification)">
                                            <div class="flex items-center">
                                                <div style="font-weight: 600" class="chatstudent">   {{notification.notificationDatatime|date:'dd-MM-yyyy'}}</div> 
                                                <div class="text-xs  ml-auto">{{notification.notificationDatatime|date:'h:mma'}}</div>
                                            </div>
                                            <div class=" truncate text-gray-600 mt-0.5">{{notification.messsge}}</div>
                                        </div>
                                    </div>
                                 
                                   
                         </div>
                        </div>
      
      </div> -->

    <!--   
       <div  class="col-md-8 col-lg-8">
       <div class=" intro-y chart__box box">
                     <div class="h-full flex flex-col ">
                         <div class="flex  flex-col sm:flex-row border-b border-gray-200  studentnotify">
                                    <div class="flex items-center">
                                        
                                        <div class="ml-3 mr-auto">
                                            <div class=" text-base" style="font-weight: 600"> Date: {{selNotificaion.notificationDatatime|date:'dd-MM-yyyy'}}</div>
                                            
                                        </div>
                                    </div>
                                   
                                </div>
                         
                        
                               <div class=" px-4 py-3 notifystud rounded-r-md rounded-t-md">
                                            {{selNotificaion.messsge}}
                                            
                               </div>
                         
                         
                     </div>
       
       
       </div>
      
      </div> -->
    </uib-tab>




</div>