 <section style="background-image: url(assets/images/iStock-912421350.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="wrapper-page">

                            <div class="account-pages">
                                <div class="account-box">
                                    <div class="account-logo-box">
                                        <h2 class="text-uppercase text-center">
                                            <a href="index.html" class="text-success">
                                                <span><img src="assets/images/adplogo.jpg" alt="" style="height: 77px; margin-top: -41px" ></span>
                                            </a>
                                        </h2>
                                      <!--   <h5 class="text-uppercase font-bold m-b-5 m-t-50">Sign In</h5>
                                        <p class="m-b-0">Login to your Admin account</p> -->
                                    </div>
                                    <div class="account-content" style="margin-top: -40px; ">
                                        <form class="form-horizontal" action="#">

                                            <div class="form-group m-b-20 row">
                                                <div class="col-12">
                                                    <label for="emailaddress">User Name</label>
                                                    <input class="form-control" type="text" ng-model="user.username" id="emailaddress" required="" placeholder="User Name">
                                                </div>
                                            </div>

                                            <div class="form-group row m-b-20">
                                                <div class="col-12">
                                                  <!--   <a href="page-recoverpw.html" class="text-muted pull-right"><small>Forgot your password?</small></a> -->
                                                    <label for="password">Password</label>
                                                    <input class="form-control" type="password"  ng-model="user.password" required="" id="password" placeholder="Enter your password">
                                                </div>
                                            </div>

                                            <div class="form-group row m-b-20">
                                                <div class="col-12">

                                                    <div class="checkbox checkbox-success">
                                                        <input id="remember" type="checkbox" checked="">
                                                        <label for="remember">
                                                            Remember me
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group row text-center m-t-10">
                                                <div class="col-12">
                                                    <button class="btn btn-md btn-block btn-primary waves-effect waves-light"  ng-click="vm.doLogin(user)" type="submit">Sign In</button>
                                                </div>
                                            </div>
													
                                        </form>

                                       <!--  <div class="row">
                                            <div class="col-sm-12">
                                                <div class="text-center">
                                                    <button type="button" class="btn m-r-5 btn-facebook waves-effect waves-light">
                                                        <i class="fa fa-facebook"></i>
                                                    </button>
                                                    <button type="button" class="btn m-r-5 btn-googleplus waves-effect waves-light">
                                                        <i class="fa fa-google"></i>
                                                    </button>
                                                    <button type="button" class="btn m-r-5 btn-twitter waves-effect waves-light">
                                                        <i class="fa fa-twitter"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div> -->

                                      <div class="row m-t-50">
                                            <div class="col-sm-12 text-center">
                                             <p class="text-muted"> Powered By<a href="http://www.a2mee.com/"> <b>A2MEE</b>- Appoint to mee</a></p>
                                              <img alt="" src="image/a2mee-logo.png">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- end card-box-->


                        </div>
                        <!-- end wrapper -->

                    </div>
                </div>
            </div>
          </section>
          <!-- END HOME -->
