 <div >
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab style=" font-size: 1.7rem;
    font-weight: 700;    text-align: left;"heading="Assets Tag">
            	 <div class="row  mt-3">
                 <div class="col-md-4" ng-click="totalTag()">
                            <div class="card mb-3 dash-card" style="width: 266px">
                                <div class="card-header">Total Tag Count  </div>
                                <div class="card-body">
                                    <h5 class="card-text card-title"> </h5>
                                    <h3 class="card-text text-end"> {{vm.tagAssetsCount.totalTagCount}} </h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4" ng-click="totalTag()">
                            <div class="card mb-3 dash-card" style="width: 266px">
                                <div class="card-header">Remaining Tag Count  </div>
                                <div class="card-body">
                                    <h5 class="card-text card-title"> </h5>
                                    <h3 class="card-text text-end"> {{vm.tagAssetsCount.remainingTagCount}} </h3>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4" ng-click="availableTags()">
                            <div class="card mb-3 dash-card"  style="width: 266px">
                                <div class="card-header">Total Asset Count</div>
                                <div class="card-body">
                                    <h5 class="card-text card-title"> </h5>
                                    <h3 class="card-text text-end">{{vm.tagAssetsCount.totalAssetCount}} </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-click="availableTags()">
                            <div class="card mb-3 dash-card"  style="width: 266px">
                                <div class="card-header">Remaining Asset Count</div>
                                <div class="card-body">
                                    <h5 class="card-text card-title"> </h5>
                                    <h3 class="card-text text-end">{{vm.tagAssetsCount.remainingAssetCount}} </h3>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                    </div>
            <!-- Upload Form Start  -->
 				<div class="material mt-5" >
                    <legend class="dotted text-center" style="color: #616060; font-size: 18px;"><b> Assets Tag Registration </b>
                    </legend>
                    <hr>
                    <form class="row g-3">
                     
                      
                     <div class="col-md-6" id="printableArea">
                      <label for="name13">RFID Tag  / Hostname: </label> 
                       <input type="text" class="form-control" id="rfidTag" ng-model="vm.asset.rfidTag"  ng-blur="checkRfidTag(vm.asset.rfidTag)" autofocus  placeholder="Enter Rfid Tag">
                      	<span ng-show="rfidTagErr" style="color:red"> {{rfidTagMsg}}</span>
                      	 <span ng-show="rfidTagVrf" style="color:green"> {{rfidTagMsg}}</span>
                      	  <span ng-show="tagMan" style="color:red"> Tag is Mandatory</span>
                      	 
                      	
						                                         	
						             
                        </div>
                       
                          <div class="col-md-6" id="printableArea">
                      <label for="name13">Serial No: </label> 
                       <input type="text" class="form-control" id="assetIdNo" ng-model="vm.asset.serialNo"  ng-blur="checkSerialNo(vm.asset.serialNo)" autofocus  placeholder="Enter AssetId">
                      	<span ng-show="assetIdErr" style="color:red"> {{assetIdMsg}}</span>
                      	 <span ng-show="assetIdVrf" style="color:green"> {{assetIdMsg}}</span>
                      	  <span ng-show="assetMan" style="color:red"> Asset Id is Mandatory</span>
                      	
						                                         	
						             
                        </div>
                         <div class="col-md-9">
                         </div>
                         <div class="col-md-3 mt-4">
                         <button type="submit" class="save"  title="Assign" ng-click="vm.assign()" >Assign</button>
                         </div>
                        				
                        
                          
                       
                    </form>
                </div>
			<!-- Upload End   -->
     
            </uib-tab>
           
        </uib-tabset>
    </div>