 <style>
display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
</style>
<div class="row  mt-3">
    <div class="col-md-10 col-sm-10 col-lg-10">
        <h5 class="ml-3 module_title">Role Permission </h5>
    </div>
    
 
    
   
</div>


<hr>




<div class="col-span-12   px-4   mt-8">
    
    <div class="overflow-auto lg:overflow-visible mt-8 sm:mt-0 ">
        <table class=" table table-report sm:mt-2 intro-y  table-bordered destination_table">
            <thead class="tabelhedaer-bg">
                <tr>
                    <th class="text-center whitespace-nowrap" style="font-weight: 600">Serial No. </th>
                   
                    <th class="text-center whitespace-nowrap" style="font-weight: 600">Role</th>
                  
                    <th class="text-center whitespace-nowrap" style="font-weight: 600" colspan="{{vm.permissionCount}}">Permission </th>
                    <th class="text-center whitespace-nowrap" style="font-weight: 600">Action </th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="roleObj in vm.rolePermissions">
                    <td class="text-center">{{$index+1}}</td>
                  
                    <td class="tabel-center">{{roleObj.role.roleName}}</td>
                   
                  
                    <td class="tabel-center" ng-repeat="permis in roleObj.permissions">
                    <input type="checkbox" class="c_check" ng-checked="permis.permissionAvailable"  ng-disabled="!permis.editTab" ng-model ="permis.permissionAvailable" ng-click="checkPermission(permis,$parent.$index,$index)" >
                    
                    	<span>{{permis.permissionName}}</span>
                    
                   
                    </td>
                     <td class="tabel-center">
                        <i class="fa fa-edit pr-2" data-toggle="tooltip" data-placement="bottom" ng-show="!roleObj.editTabButtom" title="Edit Form" ng-click="editPermission($index)"
                           ></i>
                            <i class="fa fa-save pr-2" data-toggle="tooltip" ng-show="roleObj.editTabButtom"data-placement="bottom" title="Save"
                            ng-click="vm.save(roleObj,$index)"></i>                
                                        
                                        
                     </td>
                    
                    
                </tr>
            </tbody>
        </table>
    </div>
    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>