  <style>

/*Check Box*/
.c_check {
  visibility: hidden;
  position: relative;
  margin-right: .4em;
   font-size: 2em;
  height: .9em;
  width: .9em;
}
.c_check:before, .c_check:after {
  /* default checkbox */
  box-sizing: border-box;
  visibility: visible;
  display: inline-block;
  content: '';
  touch-action: manipulation;
  cursor: pointer;
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  width: .9em;
  height: .9em;
  /* design */
  border: .1em solid grey;
  border-radius: .1em;
  transition: all .3s ease-in-out;
}
.c_check:after {
  transition: all .3s ease-in-out, border-top, border-right;
  transition-delay: 0s, .3s, .3s;
  z-index: 2;
}
.c_check:checked:after {
  height: .4em;
  border-top: none;
  border-right: none;
  border-width: .15em;
  border-radius: 0px;
  border-bottom-left-radius: .05em;
  border-color: #64c5b1;
  transform: rotate(-45deg) translate(0.1em, 0.2em) scale(1.1);
  box-shadow: -0.05em 0.08em 0.1em rgba(0, 0, 0, 0.5);
}

</style>
 
 <div >
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab style="    text-align: left;font-size: 1.7rem;
    font-weight: 700;"heading="Licence Allocation">
            	 <div class="row  mt-3">
            <div class="col-md-2">
                            <label for="allocto" class="form-label"> Type<sup
                                    style="color: red;">*</sup></label>                            
                                    
                           <select class="form-control" ng-model="vm.licenceFilter.type"
									 ng-options="type.typeName as type.typeName for type in vm.types" ng-change="vm.getDataByTypes(vm.licenceFilter.type)"
									required>
									 <option value="" disabled selected>Select Type </option>
							 </select>
                        </div>
                         <div class="col-md-2">
                            <label for="allocto" class="form-label"> Associate<sup
                                    style="color: red;">*</sup></label>                            
                                    
                           <select class="form-control" ng-model="vm.licenceFilter.associateName"
									 ng-options="associateName as associateName for associateName in vm.associateNames" ng-change="vm.getDataByTypeAndAssociate(vm.licenceFilter.type,vm.licenceFilter.associateName)"
									required>
									 <option value="" disabled selected>Select Associate </option>
							 </select>
                        </div>
                         <div class="col-md-2">
                            <label for="allocto" class="form-label"> Product<sup
                                    style="color: red;">*</sup></label>                            
                                    
                           <select class="form-control" ng-model="vm.licenceFilter.productName"
									 ng-options="productName as productName for productName in vm.productNames" ng-change="vm.getDataByTypeAndAssociateAndProductName(vm.licenceFilter.type,vm.licenceFilter.associateName,vm.licenceFilter.productName)"
									required>
									 <option value="" disabled selected>Select Product </option>
							 </select>
                        </div>
                        
                         <div class="col-md-2">
                            <label for="allocto" class="form-label"> Version<sup
                                    style="color: red;">*</sup></label>                            
                                    
                           <select class="form-control" ng-model="vm.licenceFilter.version"
									 ng-options="version as version for version in vm.versions" ng-change="vm.getDataByTypeAndAssociateAndProductNameVersion(vm.licenceFilter.type,vm.licenceFilter.associateName,vm.licenceFilter.productName,vm.licenceFilter.version)"
									required>
									 <option value="" disabled selected>Select Version </option>
							 </select>
                        </div>
                        <div class="col-md-2">
                            <label for="allocto" class="form-label"> Asset Id<sup
                                    style="color: red;">*</sup></label>                            
                                    
                           <select class="form-control" ng-model="vm.licenceFilter.assetId"
									 ng-options="assetId as assetId for assetId in vm.assetIds" ng-change="vm.getDataByTypeAndAssociateAndProductNameVersionAndAssetId(vm.licenceFilter.type,vm.licenceFilter.associateName,vm.licenceFilter.productName,vm.licenceFilter.version,vm.licenceFilter.assetId)"
									required>
									 <option value="" disabled selected>Select Version </option>
							 </select>
                        </div>
                      
                        
                    </div>
                    	<div class="material mt-5" ng-show="uploadTab">
                    <legend class="dotted text-center" style="color: #616060; font-size: 18px;"><b>Upload Licence Allocation</b>
                    </legend>
                    <hr>
                    <form class="row g-3">
                        <div class="col-md-6">
                        <label for="inputCity" class="col-form-label">Upload (.Xlsx)</label> 
							                                              	 <input id="uploadAssets"  class="form-control"  type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  

							                                              	 <span ng-show="uploadErr" style="color:red">  * file is mandatory</span>
						                                             	<a href="assets/uploadExcel/LicenceAllocation.xlsx" type="button"class="btn btn-primary btn-rounded button-style waves-effect waves-light btn-sm"  id="tooltip-touch" title="Upload"  style="margin:10px; display: inline-block;">Download format</a>
						                                             	
						             
                        </div>
                    
                       
                        
                          
                        <div class="col-12 mt-4 text-center">
                            <button type="submit" class="save"  title="Upload" ng-click="vm.uploadSave()" ng-disabled="diabledSaveButton">Upload</button>
                            <button type="submit" class="cancleBtn" title="Cancel" ng-click="vm.cancle()">Cancel</button>
                            
                           
                        </div>
                    </form>
                </div>
            <!-- Upload Form Start  -->
 				<div class="material mt-5" ng-show="addNew">
                    <legend class="dotted text-center" style="color: #616060; font-size: 18px;"><b> Licence Allocation</b>
                    </legend>
                    <hr>
                    <form class="row g-3">
                    <div class="col-md-3">
                            <label for="name13">Asset Id/ Serial No: </label> <input  type="text" ng-model="vm.assetLicence.asset" name="code" uib-typeahead="asseyUnalllocatedLicence as asseyUnalllocatedLicence.serialNo +'-' +asseyUnalllocatedLicence.assetId for asseyUnalllocatedLicence in vm.asseyUnalllocatedLicences | filter:$viewValue | limitTo:20" typeahead-no-results="codes" required
																		class="form-control typeahead-demo mandtry"   />
							
						                                             <span ng-show="assetErr" style="color:red">  * Asset is mandatory</span>
					</div> 
                        
                        <div class="col-md-3">
                            <label for="assectcod" class="form-label">Type</label>
								<input  type="text" ng-model="vm.assetLicence.type" name="Types" uib-typeahead="licencesType.typeName as licencesType.typeName for licencesType in vm.types | filter:$viewValue | limitTo:20" typeahead-no-results="codes" required
								   class="form-control typeahead-demo mandtry"  typeahead-on-select="vm.loadLicenceNameByType(vm.assetLicence.type)" />
							                    		<span style="color:red" ng-show="typeErr">Type Key  is Mandatory</span>
                        </div> 
                       <div class="col-md-3">
                            <label for="assectcod" class="form-label">Name</label>
								<input  type="text" ng-model="vm.assetLicence.name" name="code" uib-typeahead="licencesName as licencesName for licencesName in vm.licencesNames | filter:$viewValue | limitTo:20" typeahead-no-results="codes" required
								   class="form-control typeahead-demo mandtry"  typeahead-on-select="vm.loadLicenceByTypeAndName(vm.assetLicence.type,vm.assetLicence.name)" />
							                        		<span style="color:red" ng-show="nameErr">Names Key  is Mandatory</span>
                        </div> 
                        <div class="col-md-3">
                            <label for="assectcod" class="form-label">Key</label>
									<input  type="text" ng-model="vm.assetLicence.licence" name="code" uib-typeahead="availablelicence as availablelicence.licenceName +'-'+availablelicence.licenceKey  for availablelicence in vm.availablelicences | filter:$viewValue | limitTo:20" typeahead-no-results="codes" required
								   class="form-control typeahead-demo mandtry"   />
							                      		<span style="color:red" ng-show="keyErr">Licence Key  is Mandatory</span>
                        </div> 
                        
                          
                        <div class="col-12 mt-4 text-center">
                            <button type="submit" class="save"  title="Assined" ng-click="vm.assignedLicence()">Assigned</button>
                            <button type="submit" class="cancleBtn" title="Cancel" ng-click="vm.cancle()">Cancel</button>
                            
                           
                        </div>
                    </form>
                </div>
			<!-- Upload End   -->
            
            
			<!-- List View Star -->
                <div class="material mt-5">
                    <div class="container-fluid">
                    <div class="row">
                   
                        <div class="col-3">
                            <form class="d-flex search">
                                <input class="me-2" type="search" placeholder="Search" aria-label="Search" ng-change="vm.loadLicence()" ng-model="vm.serachText" ng-change="searchByPagination(vm.serachText)">
<!--                                 <button class="searchBtn" type="submit"  ng-click="vm.loadAssets()">Search</button>
 -->                            </form>
                        </div>
                          <div class="col-1 text-center">
                          
					              <input type="number" min="1"  class="form-control" ng-model="vm.perPage" ng-change="vm.loadAssets()"   >
                          </div>
                        <div class="col-2 text-center">
                            <button class="addNew" type="submit"  data-toggle="tooltip" data-placement="bottom" title="Upload Assets" ng-click="vm.upload()">   <i class="bi bi-upload"></i></button>
                        </div>
                        <div class="col-2 text-center">
                                                    <button class="addNew"  data-toggle="tooltip" data-placement="bottom" type="submit"  id="tooltip-touch" title="Export Excel" ng-click="newExcel()">   <i class="bi bi-download"></i></button>
                        
						       <button id="btnExport" ng-json-export-excel data="vm.assetLicences" report-fields="vm.labels" style="display:none" filename="'Assets Licences'" ></button>
						            
                        
                        
                        </div>
                     
                        <div class="col-2 text-center">
                            <button class="addNew" type="submit"  data-toggle="tooltip" data-placement="bottom" title="Add New Asset" ng-click="vm.addNew()">   <i class="bi bi-plus-square" ></i></button>
                        </div>
                      
                    </div>
                     
                       
                </div>
                    <div class="material-tbl mt-3">
                        <table id="datatable-buttons" class="ttext-center align-middle justify-content-center table-bordered"
                            style="width: 100%;">
                            <thead style="background-color: var(---primary); color: var(---table_text_color);">
                                <tr>
                                    <th>Sr No</th>
                                   
                                 
                                     <th>Branch</th>
                                      <th>Make</th>
                                       <th>Model</th>
                                        <th>Asset Id</th>
                                        <th>Serial No</th>
                                       <th>Type</th>
                                    <th>Name</th>
                                    <th>Version</th>
                                    <th>Brand</th>
                                    <th>Installation Date</th>
                                    <th>Expiry Date</th>
                                    
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                             <tr ng-show="vm.assetLicences.length <= 0"><td colspan="13" style="text-align:center;color:#5D6D7E;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Data Not Found!!
							<tr dir-paginate="assetLicence in vm.assetLicences | filter:q |itemsPerPage:vm.perPage" total-items="vm.total_count" current-page="pagination.current">
							         <th>{{(vm.perPage*(vm.pageno-1))+($index+1)}}</th>
                                     <td>{{assetLicence.licence.branch.branchName}}</td>
                                     <td>{{assetLicence.asset.make}}</td>
                                      <td>{{assetLicence.asset.model}}</td>
                                      <td>{{assetLicence.asset.assetId}}</td>
                                      <td>{{assetLicence.asset.serialNo}}</td>
                                      
                                      
                                    
                                    
                                     <td>{{assetLicence.licence.licenceType}}</td>
                                      <td>{{assetLicence.licence.product.productId}} {{assetLicence.licence.product.productName}}</td>
                                   
                                    <td>{{assetLicence.licence.licenceVersion}}</td>
                                    <td>{{assetLicence.licence.associate.associateId}} {{assetLicence.licence.associate.associateName}}</td>
                                     <td>{{assetLicence.licence.installlationDate|date:'dd-MM-yyyy'}}</td>
                                      <td>{{assetLicence.licence.licenceExpiryDate|date:'dd-MM-yyyy'}}</td>
                                   
                                       
                                    <td>
                                       <i class="bi bi-trash"  data-toggle="tooltip" data-placement="bottom"  title="Edit" ng-click="vm.delet(assetLicence)"style="margin-right: 10px;"></i>
                                       <i class="bi bi-trash"  data-toggle="tooltip" data-placement="bottom"  title="Delete"   ng-if="asset.availableStatus=x	=1 && (vm.user.role.roleId==1||vm.user.role.roleId==3)" ng-click="vm.delet(asset)" style="margin-right: 10px;"></i>
                                       
                                   	
                                   
                                   
                                    </td>
                                </tr>
                               
                            </tbody>
                            
                        </table>
                  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"  ></dir-pagination-controls>

                    </div>
                </div>
		<!-- List View Star -->
            </uib-tab>
           
        </uib-tabset>
    </div>