<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>

    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                       
                        <!-- end row -->
                     
<!-- start add  row -->
                          <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    

                                   				 <div class="row">
						                            <div class="col-md-12">
						                                <div class="card-box">
						                                <h1 style="text-align: center">Change Password</h1>
						                                <h4 style="text-align: center">* All fields are mandatory *</h4>							                                   

						                                   
						
						                                    <form>
						                                     	<div class="form-row">
						                   						 <div class="form-group col-md-6">
						                                                <label for="inputCity" class="col-form-label" >User Name : </label > 
						                                            <input type="text" class="form-control" ng-model="vm.user1.id+' '+vm.user1.firstName+' '+vm.user1.lastName"  disabled>
						                                            </div>	                   										                                          
						                                      </div>
						                                        <div class="form-row">
						                                        <div class="form-group col-md-6">
						                                                <label for="inputCity" class="col-form-label" >Enter Old Password : </label > 
						                                            <input  ng-show="! viewPassold" type="password" class="form-control" ng-model="oldPassword" ng-blur="vm.validatePassword(oldPassword)">
						                                             <input   ng-show="viewPassold"class="form-control" type="text"  ng-model="oldPassword" required="" id="password" placeholder="Enter your password" >
                                                     				  <button class="btn btn-basic btn-sm"  ng-click="showold()" type="submit"> <i class="fa fa-eye" ng-show="!viewPassold" ></i> <i class="fa fa-eye-slash" ng-show="viewPassold"></i></button>
                                               
						                                            </div>	
						                                        </div>
						                                        
						                                        <div class="form-row" ng-show="newPass">
						                                         <div class="form-group col-md-6">
						                                                <label for="inputCity" class="col-form-label" >Enter New Password : </label > 
						                                            <input ng-show="! viewPassnew" type="password" class="form-control" ng-model="user.password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" ><!-- ng-blur="vm.cmpPass(user.password)" -->
						                                             <input   ng-show="viewPassnew"class="form-control" type="text"  ng-model="user.password" required="" id="password" placeholder="Enter your password">
                                                       				<span><button class="btn btn-basic btn-sm"  ng-click="shownew()" type="submit"> <i class="fa fa-eye" ng-show="!viewPassnew" ></i> <i class="fa fa-eye-slash" ng-show="viewPassnew"></i></button></span>
                                               
						                                            </div>	
						                                        </div>
						                                        
						                                          <div class="form-row" ng-show="newPass">						                                  
						                                            <div class="form-group col-md-6">
						                                                <label for="inputCity" class="col-form-label" >Confirm New Password : </label > 
						                                             <input  ng-show="! viewPasscnf" type="password" class="form-control" ng-model="user.newpassword"  ng-blur="vm.cmpPass(user.newpassword)">
						                                              <input   ng-show="viewPasscnf"class="form-control" type="text"  ng-model="user.newpassword" required="" id="password" placeholder="Enter your password">
                                                    				   <button class="btn btn-basic btn-sm"  ng-click="showcnf()" type="submit"> <i class="fa fa-eye" ng-show="!viewPasscnf" ></i> <i class="fa fa-eye-slash" ng-show="viewPass"></i></button>
                                               
						                                            </div>	
						                                        </div>
						                                    <div class="form-row">
						                                    <div class="col-4">
						                                    <button class="btn btn-md btn-block btn-success waves-effect waves-light"  ng-click="vm.updatePassword()"  ng-disabled="saveButton" type="submit">Submit</button>
						                                    </div>
						                                    
						                                      <div class="col-4">
						                                      <button type="button" class="btn btn-danger waves-effect w-md waves-light" ng-click="vm.cancel()">Cancel</button>
						                                      </div>
						                                        </div>
						                                        
						                                        <div class="form-row">						                                         
						                                        </div>
						                                        <div class="row">
						                                        </div>
						                                        
						                                       
						                                    </form>
						                                </div>
						                            </div>
						                        </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                            <!-- end add row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

              
            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
</div>


  <!-- Required datatable js -->
        <script src="plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="plugins/datatables/jszip.min.js"></script>
        <script src="plugins/datatables/pdfmake.min.js"></script>
        <script src="plugins/datatables/vfs_fonts.js"></script>
        <script src="plugins/datatables/buttons.html5.min.js"></script>
        <script src="plugins/datatables/buttons.print.min.js"></script>
        <script src="plugins/datatables/buttons.colVis.min.js"></script>
        
        <!-- Responsive examples -->
        <script src="plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>