
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">
		{{vm.items.fname}} {{vm.items.lname}}
		<small>{{vm.items.role.role_name}}, {{vm.items.userType.user_type_name}}</small>
	</h3>
</div>
<div class="modal-body" id="modal-body">
	<dl class="dl-horizontal">
		<dt>Mobile Number</dt>
		<dd>{{vm.items.mobile_no}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Email id</dt>
		<dd>{{vm.items.email}}</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>Gender </dt>
		<dd>{{vm.items.gender}}</dd>
	</dl>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>