  <style>
<!--

-->
/*Check Box*/
.c_check {
  visibility: hidden;
  position: relative;
  margin-right: .4em;
   font-size: 2em;
  height: .9em;
  width: .9em;
}
.c_check:before, .c_check:after {
  /* default checkbox */
  box-sizing: border-box;
  visibility: visible;
  display: inline-block;
  content: '';
  touch-action: manipulation;
  cursor: pointer;
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  width: .9em;
  height: .9em;
  /* design */
  border: .1em solid grey;
  border-radius: .1em;
  transition: all .3s ease-in-out;
}
.c_check:after {
  transition: all .3s ease-in-out, border-top, border-right;
  transition-delay: 0s, .3s, .3s;
  z-index: 2;
}
.c_check:checked:after {
  height: .4em;
  border-top: none;
  border-right: none;
  border-width: .15em;
  border-radius: 0px;
  border-bottom-left-radius: .05em;
  border-color: #64c5b1;
  transform: rotate(-45deg) translate(0.1em, 0.2em) scale(1.1);
  box-shadow: -0.05em 0.08em 0.1em rgba(0, 0, 0, 0.5);
}

</style>
 
 <div >
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab style="    text-align: left;"heading="Publisher SAAS">
            
          
			<!-- List View Star -->
                <div class="material mt-5">
                    <div class="container-fluid">
                    <div class="row">
                       
                     
                       
                      
                    </div>
                      
                       
                </div>
                    <div class="material-tbl mt-3">
                        <table id="datatable-buttons" class="ttext-center align-middle justify-content-center table-bordered"
                            style="width: 1150px;">
                            <thead>
                                 <tr>
                           <th>Sr.No</th>
                          <th>Name </th>
                          <th>Count</th>
                         
                          </tr>
                            </thead>
                            <tbody>

                                        
                             <tr ng-repeat="licencesCount in vm.bundleWiseCost">
                           
                          <td>{{$index+1}}</td>
                           <td>{{licencesCount.name}}</td>
                           <td>{{licencesCount.count}}</td>
                           
                           </tr>
                               
                            </tbody>
                        </table>

                    </div>
                </div>
		<!-- List View Star -->
            </uib-tab>
           
        </uib-tabset>
    </div>