 <style>

/*Check Box*/
.c_check {
  visibility: hidden;
  position: relative;
  margin-right: .4em;
   font-size: 2em;
  height: .9em;
  width: .9em;
}
.c_check:before, .c_check:after {
  /* default checkbox */
  box-sizing: border-box;
  visibility: visible;
  display: inline-block;
  content: '';
  touch-action: manipulation;
  cursor: pointer;
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  width: .9em;
  height: .9em;
  /* design */
  border: .1em solid grey;
  border-radius: .1em;
  transition: all .3s ease-in-out;
}
.c_check:after {
  transition: all .3s ease-in-out, border-top, border-right;
  transition-delay: 0s, .3s, .3s;
  z-index: 2;
}
.c_check:checked:after {
  height: .4em;
  border-top: none;
  border-right: none;
  border-width: .15em;
  border-radius: 0px;
  border-bottom-left-radius: .05em;
  border-color: #64c5b1;
  transform: rotate(-45deg) translate(0.1em, 0.2em) scale(1.1);
  box-shadow: -0.05em 0.08em 0.1em rgba(0, 0, 0, 0.5);
}

</style>
 <div >
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab style="    text-align: left; font-size: 1.7rem;
    font-weight: 700;"heading="Employee">
     	 <div class="row  mt-3">
              
                        
                        <div class="col-md-4" ng-click="totalEmployee()">
                            <div class="card mb-3 dash-card" style="width: 266px">
                                <div class="card-header">Total no Employee  </div>
                                <div class="card-body">
                                    <h5 class="card-text card-title"> </h5>
                                    <h3 class="card-text text-end"> {{vm.total_count}} </h3>
                                </div>
                            </div>
                        </div>
                       
                       
                        <!-- <div class="col-md-4" ng-click="puneEmployee()">
                            <div class="card mb-3 dash-card" style="width: 266px">
                                <div class="card-header">Punes Employee </div>
                                <div class="card-body">
                                    <h5 class="card-text card-title"> </h5>
                                    <h3 class="card-text text-end"> {{vm.employeesCount.puneEmpCount}} </h3>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4" ng-click="bengaluruEmployee()">
                            <div class="card mb-3 dash-card" style="width: 266px">
                                <div class="card-header">Bengalurus Employee</div>
                                <div class="card-body">
                                    <h5 class="card-text card-title"> </h5>
                                    <h3 class="card-text text-end">{{vm.employeesCount.bengaluruEmpCount}} </h3>
                                </div>
                            </div>
                        </div> -->
                    </div>
             <!-- Upload Form Start  -->
 				<div class="material mt-5" ng-show="uploadtab">
                    <legend class="dotted   " style="color: #616060; font-size: 18px;"><b>Upload Employee</b>
                    </legend>
                    <hr>
                    <form class="row g-3">
                        <div class="col-md-6">
                        <label for="inputCity" class="col-form-label">Upload (.xlsx)</label> 
							                                              	 <input id="uploadEmployee"  class="form-control"  type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  

							                                              	 <span ng-show="uploadErr" style="color:red">  * file is mandatory</span>
						                                             	<a href="assets/uploadExcel/Employee.xlsx" type="button"class="btn btn-primary btn-rounded button-style waves-effect waves-light btn-sm"    style="margin:10px; display: inline-block;">Download format</a>
						                                             	
						             
                        </div>
                    
                       
                        
                          
                        <div class="col-12 mt-4   ">
                            <button type="submit" class="save" ng-click="vm.uploadEmployee()" ng-disabled="diabledSaveButton">Upload</button>
                              <button type="submit" class="cancleBtn" ng-click="vm.cancle()">Cancel</button>
                            
                           
                        </div>
                    </form>
                </div>
			<!-- Upload End   -->
            <!-- Add New Form Start  -->
 				<div class="material mt-5" ng-show="addNew">
                    <legend class="dotted   " style="color: #616060; font-size: 18px;"><b>Add New Employee</b>
                    </legend>
                    <hr>
                    <form class="row g-3">
                       <!--   <div class="col-md-6">
                            <label for="inputState"  class="form-label"> Gender<sup
                                    style="color: red;">*</sup></label>
                                    
                                   <select class="form-control mandtry"
																			ng-model="employee.gender" id="brand"
																		
																			style="height: calc(2.25rem + 14px)" required>
																			<option value="" disabled selected>Select Gender </option>
																			<option value="Male" >Male </option>
																			<option value="feMale" >FeMale </option>
																		</select>  
                          
							<span ng-show="genderErr" style="color:red">  * Gender is mandatory</span>
                        </div>
                                              <div class="col-md-6">
                         <label for="inputState" class="form-label"> Title<sup
                                    style="color: red;">*</sup></label>
                                    
                                     <select class="form-control mandtry"
																			ng-model="employee.title" id="brand"
																		
																			style="height: calc(2.25rem + 14px)" required>
																			<option value="" disabled selected>Select Title </option>
																			<option value="Mr" >Mr </option>
																			<option value="Mrs" >Mrs</option>
																		</select>
																		<span ng-show="titleErr" style="color:red">  * Title is mandatory</span>
                                    
                        </div>
                           -->
                        
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">First Name<sup style="color: red;">*</sup></label>
                            <input type="text" class="form-control mandtry" id="fname" ng-model="employee.firstName"   placeholder="Enter First Name" ng-blur="capitalFName(employee.fName)">
						     <span ng-show="fNameErr" style="color:red">  * First Name is mandatory</span>
                       
                        </div>
                        <div class="col-md-6">
                            <label  for="inputCity" class="form-label">Last Name<sup style="color: red;">*</sup></label>
                            <input type="text" class="form-control mandtry" id="lname" ng-model="employee.lastName"   placeholder="Enter Last Name" ng-blur="capitalLName(employee.lName)">
						          <span ng-show="lNameErr" style="color:red">  * Last Name is mandatory</span>
                       
                        </div>
                        <div class="col-md-6">
                            <label  for="inputCity" class="form-label">Mobile No<sup style="color: red;">*</sup></label>
                             <input type="number" class="form-control mandtry" id="mobileNo" ng-model="employee.mobileNo"  ng-blur="validateContatNo(employee.mobileNo)" placeholder="Enter Mobile No">
						       <span ng-show="invalidMoNo" style="color:red">  * {{contactNo1ErrMsg}}</span>
						        <span ng-show="MoNoErr" style="color:red">  * Mobile No is mandatory</span>
                        </div>
                        <div class="col-md-6">
                            <label  for="inputCity" class="form-label">Email Id<sup style="color: red;">*</sup></label>
                            <input type="email" class="form-control mandtry" id="email" ng-model="employee.email"  ng-blur="validateEmail(employee.email)"; placeholder="Enter Email Id">
						   <span ng-show="emialErr" style="color:red">  * Invalid Email ID</span>
						    <span ng-show="emailErr" style="color:red">  * is mandatory</span>
                        </div>
                        
                        <div class="col-md-6">
                            <label  for="inputCity" class="form-label">Employee No<sup style="color: red;">*</sup></label>
                            <input type="text" class="form-control " id="employeeNo" ng-model="employee.employeeNo"  ng-change="checkEmpNo(employee.employeeNo)" placeholder="Enter Employee No" >
						    <span ng-show="employeeNoErr" style="color:red">  * Employee No is mandatory</span>
						     <span ng-show="vm.empErr.code==500" style="color:red">  * Employee No is already exits</span>
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">User Name</label>
                           <input type="text" class="form-control mandtry" id="workLoc" ng-model="employee.username"  placeholder="Enter Username">
						                                           
                        </div>
                    
                         <div class="col-md-6">
                            <label  for="inputCity" class="form-label">Employee Type<sup style="color: red;">*</sup></label>
                            <input type="text" class="form-control " id="employeeNo" ng-model="employee.employeeType"  placeholder="Enter Employee Type" >
						    <span ng-show="employeeTypeErr" style="color:red">  * Employee Type is mandatory</span>
                        </div>
                     <!--   <div class="col-md-6">
                            <label  for="inputCity" class="form-label">Date Of Birth<sup style="color: red;">*</sup></label>
                            <input type="date" class="form-control " id="dob" ng-model="employee.dateOfBirth" ng-blur="dob(employee.dateOfBirth);">
						     <span ng-show="dateOfBirth" style="color:red">  * Date Of Birth mandatory</span>
						      <span ng-show="invaliddateOfBirth" style="color:red">   Please select correct DOB</span>
                        </div>
                        
                          <div class="col-md-6">
                            <label  for="inputCity" class="form-label">Date of Joining<sup style="color: red;">*</sup></label>
                            <input type="date" class="form-control " id="doj" ng-model="employee.dateOfJoining" ng-blur="doj(employee.dateOfJoining);">
						    <span ng-show="jDateErr" style="color:red">  * Date Of Joining is mandatory</span>
						 <span ng-show="invaliddateOfjoin" style="color:red">   Please select correct DOJ</span>
                        </div> -->
                        <legend class="dotted    mt-5" style="color: #616060; font-size: 18px;"><b>Employee-Company Details</b>
                    </legend>
                    <hr>
                          <div class="col-md-6">
                            <label for="inputState"  class="form-label"> Branch<sup
                                    style="color: red;">*</sup></label>
                                    
                                   <select class="form-control mandtry"
																			ng-model="employee.branch.branchId" id="branch"
																			ng-options="branch.branchId as branch.branchName for branch in vm.branches"
																			style="height: calc(2.25rem + 14px)" required>
																			<option value="" disabled selected>Select Branch</option>
																		</select>
																		<span ng-show="branchErr" style="color:red">  * Branch is mandatory</span>  
                          
							
                        </div>
                        
                        <div class="col-md-6">
                            <label for="inputState"  class="form-label"> Department<sup
                                    style="color: red;">*</sup></label>
                                    
                                    <select class="form-control mandtry"
																			ng-model="employee.department.departmentId" id="department"
																			ng-options="department.departmentId as department.departmentName for department in vm.departments"
																			style="height: calc(2.25rem + 14px)" required>
																			<option value="" disabled selected>Select Department</option>
																		</select>
																		<span ng-show="deptalrt" style="color:red">  * Department is mandatory</span>
							
                        </div>
                        <!--  <div class="col-md-6">
                            <label for="inputState"  class="form-label"> Designation<sup
                                    style="color: red;">*</sup></label>
                                    
                                     <select class="form-control mandtry"
																			ng-model="employee.designation.designationId" id="designation"
																			ng-options="designation.designationId as designation.designationName for designation in vm.designations"
																			style="height: calc(2.25rem + 14px)" required>
																			<option value="" disabled selected>Select Designation</option>
																		</select>
																		<span ng-show="designationErr" style="color:red">  * Designation is mandatory</span>
                        </div> -->
                         <div class="col-md-6">
                            <label for="inputCity" class="form-label">Work Location</label>
                           <input type="text" class="form-control mandtry" id="workLoc" ng-model="employee.workLocation"  placeholder="Enter Work Location">
						                                           
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">Bussiness Unit</label>
                           <input type="text" class="form-control mandtry" id="workLoc" ng-model="employee.bussinessUnit"  placeholder="Enter Bussiness Unit">
						                                           
                        </div>
                          <div class="col-md-6">
                            <label for="inputCity" class="form-label">Cost Center</label>
                           <input type="text" class="form-control mandtry" id="costCenter" ng-model="employee.costCenter"  placeholder="Enter Cost Center">
						                                           
                        </div>
                        
                         <div class="col-md-6">
                            <label for="inputCity" class="form-label">Teams</label>
                           <input type="text" class="form-control mandtry" id="workLoc" ng-model="employee.team"  placeholder="Enter Team">
						                                           
                        </div>
                        
                         <div class="col-md-6">
                            <label for="inputCity" class="form-label">Manager</label>
                           <input type="text" class="form-control mandtry" id="workLoc" ng-model="employee.manager"  placeholder="Enter Manager">
						                                           
                        </div>
                          <div class="col-md-6">
                            <label for="inputCity" class="form-label">Hire Date</label>
                           <input type="date" class="form-control mandtry" id="workLoc" ng-model="employee.hireDate"  placeholder="Enter Manager">
						                                           
                        </div>
                    
                        <div class="col-12 mt-4   ">
                            <button type="submit" class="save"  title="Save"ng-click="vm.save(employee)" ng-disabled="disabledClick">Submit</button>
                            <button type="submit" class="cancleBtn"  title="Cancel" ng-click="vm.cancle()">Cancel</button>
                            
                           
                        </div>
                    </form>
                </div>
			<!-- Add New Form End   -->
			<!-- List View Star -->
                <div class="material mt-5" >
                    <div class="container-fluid">
                    <div class="row">
                   
                        <div class="col-3">
                            <form class="d-flex search">
                            <input class="me-2" type="search" placeholder="Search" aria-label="Search"  ng-change="vm.loadEmployees()"ng-model="vm.serachText">
                               
                            </form>
                        </div>
                          <div class="col-1">
                          
					              <input type="number" min="1"  class="form-control" ng-model="vm.perPage" ng-change="vm.loadEmployees()"   >
					             
                          </div>
                          <div class="col-2 ">
                            <button class="addNew" type="submit"   data-toggle="tooltip" data-placement="bottom" title="Upload Employee" ng-click="vm.upload()">   <i class="bi bi-upload" style="margin-right: 10px;"></i></button>
                        </div>
                          <div class="col-2">
                                                    <button class="addNew"  data-toggle="tooltip" data-placement="bottom" type="submit"  title="Export Excel" ng-click="newExcel()">   <i class="bi bi-download"></i></button>
                        
						       <button id="btnExport" ng-json-export-excel data="vm.allEmployees" report-fields="vm.labels" style="display:none"  filename="'Employees'"  ></button>
						            
                        
                        
                        </div>
                         <div class="col-2   ">
                            <button class="addNew" type="submit"  data-toggle="tooltip" data-placement="bottom" title="Add New Employee"style="margin-left: 68px;" ng-click="vm.add()">   <i class="bi bi-plus-square" ></i></button>
                         </div>
                    
                    </div>
                </div>
                    <div class="material-tbl mt-3">
                        <table id="datatable-buttons" class="  ttext-center align-middle justify-content-center table-bordered"
                           style="width: 1150px" >
                            <thead style="background-color: var(---primary); color: var(---table_text_color);">
                                <tr>
                                   <th>Sr No</th>
                                            <th>Location</th>
                                           
	                                         <th>Employee No</th>
	                                         <th>User Name</th>
                                            <th>Name</th>
                                             <th>Mobile No</th>
                                             <th>Email </th>
                                          
                                             
                                             
                                             
                                              <th >Department</th>
                                               <th >Cost Center</th>
                                                 <th >Status</th>
                                              <!--  <th >Added By</th>
                                              <th>Added Date</th> -->
                                            <th>Action</th>
                                        

                                </tr>
                            </thead>
                            <tbody>
                           <tr ng-show="vm.empoyees.length <= 0"><td colspan="8" style="text-align:center;color:#5D6D7E;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Data Not Found!!
							<tr dir-paginate="employee in vm.employees|reverse| filter:q |itemsPerPage:vm.perPage" total-items="vm.total_count" current-page="pagination.current">
							
                                           <td >{{(vm.perPage*(vm.pageno-1))+($index+1)}}</td>
                                           <td >{{employee.branch.branchName}}</td>
                                          
                                            <td  >{{employee.employeeNo}}</td>
                                             <td >{{employee.username}}</td>
                                            <td >{{employee.firstName}} {{employee.lastName}}</td>
                                         
                                            <td  >{{employee.mobileNo}}</td>
                                            <td >{{employee.email}}</td>
                                            
                                                <td >{{employee.department.departmentName}}</td>
                                                 <td >{{employee.costCenter}}</td>
                                                      <td ><span ng-if="employee.active==0">Inactive</span><span ng-if="employee.active==1">Active</span></td>
                                          <!--   <td  >{{employee.addedBy.firstName}} {{employee.addedBy.lastName}}</td>
                                              <td  >{{employee.addedDate|date:'dd-MM-yyyy'}}</td>
                                          -->  <!--   <td  >
                                            	 <button style="width:100px" ng-class="employee.active==1 ? 'btn btn-rounded btn-success':'btn btn-rounded btn-danger'"> 
                                            	<md-icon class="fas fa-user-alt " ng-if="employee.active==1" id="tooltip-touch" title="ACTIVE" style="font-size:20px;color:green;padding-top:5px;"></md-icon>
                                            	<md-icon class="fas fa-user-alt-slash" ng-if="employee.active==0" id="tooltip-touch" title="INACTIVE" style="font-size:20px;color:red;padding-top:5px;"></md-icon>
                                            		   <span ng-if="employee.active==1"> Active</span><span ng-if="employee.active==2"> InActive</span>
                                            		 </button>
                                            
                                         </td> -->
                                           

                                           <td  >
                                             <!-- <button type="button"class="waves-effect waves-light btn-sm"  ></button> -->
                                             <md-button class="md-icon-button btn-sm" aria-label="Favorite" ><i class='fas fa-edit'   data-toggle="tooltip" data-placement="bottom" title="Edit" ng-click="vm.edit(employee)" style="font-size:20px;color:#2E4053;"></i></md-button>
                                           	        
                                          <!--   	<md-button class="md-icon-button btn-sm" aria-label="Favorite" ng-disabled="employee.designation.designationName=='Admin'" style="margin:0 0.5px;"> <i class=" mdi mdi-sync"  data-toggle="tooltip" data-placement="bottom" title="Change Status"
                                           ng-click="vm.changeStatus(employee)" style="font-size:20px;color:#2E86C1;"></i></md-button>  -->
                                           	
                                           	 <!--   <md-icon class="fas fa-user-alt " ng-if="employee.active==1" data-toggle="tooltip" data-placement="bottom" title="ACTIVE" style="font-size:20px;color:green;padding-top:5px;"></md-icon>
                                            	<md-icon class="fas fa-user-alt-slash" ng-if="employee.active==0" data-toggle="tooltip" data-placement="bottom"  title="INACTIVE" style="font-size:20px;color:red;padding-top:5px;"></md-icon>   
                                             -->	   
                                           	<md-button class="md-icon-button btn-sm" aria-label="Favorite" ng-if="employee.userCreated==0" style="margin:0 0.5px;"> <i class="fa fa-user-plus"   data-toggle="tooltip" data-placement="bottom" title="Create User" ng-click="vm.createUser(employee)" style="font-size:20px;color:#2E4053;"></i></md-button>
                                           	<md-button class="md-icon-button btn-sm" aria-label="Favorite" ng-if="employee.userCreated==1" style="margin:0 0.5px;"> <i class='fas fa-user-check'   data-toggle="tooltip" data-placement="bottom" title="User created " disabled style="font-size:20px;color:#85929E;"></i></md-button>
                                           	<md-button class="md-icon-button btn-sm" aria-label="Favorite" style="margin:0 0.5px;"><i class='fas fa-trash'   data-toggle="tooltip" data-placement="bottom" title="Delet" ng-click="vm.delet(employee)" style="font-size:20px;color:#ff0101;"></i></md-button>
                                           	           
										  </td>
                                       </tr>
                               
                            </tbody>
                        </table>
                  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"  ></dir-pagination-controls>

                    </div>
                </div>
		<!-- List View Star -->
            </uib-tab>
           
        </uib-tabset>
    </div>