/* side bar navigation css start  */
html {
    scroll-behavior: smooth;
  }
*{
    box-sizing: border-box;
}
body {
    background: #e9e7e7;
    font-family: Arial, sans-serif;
}
.navigation {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 20%;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #3226ae;
    background: #3226ae;
    transition: width 1s;
    justify-content: center;
    z-index: 500;
    
}
.navigation.active {
    width: 6%;
}

.navigation ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;

}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    justify-content: left;
    transition: 1s;
}

.navigation ul li a:hover {
    color: #2196F3;
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #e9e7e7;
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #3226ae;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #e9e7e7;
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #3226ae;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}


.navigation ul li.active {
    background: #e9e7e7;
}



.navigation ul li.active a {
    color: #333;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.5vw;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 5px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    font-size: 1.5vw;
}
.navigation ul li a .aro {
    position: absolute;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    right: 10px;
    text-align: right;
    font-size: 1.5vw;
    
}

.navigation ul li:hover ul {
    display: inline;  
}
.navigation ul li .dro {
    left: 100%;
    width: 175px;
    padding: 20px;
    background: #32268c;
    border-radius: 10px;
    display: none; 
}
.navigation ul li .dro1 {
    top: -20px;
}
.navigation ul li .dro2 {
    top: -20px;
}
.navigation ul li .dro3 {
    top: -300px;
}
.navigation ul li .dro4 {
    top: -360px;
}
.navigation ul li .dro5 {
    top: -20px;
}
.navigation ul ul li  {
    position: relative;
    padding: 5px;
}
.navigation ul .dro li a {
    position: relative;
    color: #fff;
}
.navigation ul .dro li a:hover {
    position: relative;
    color: #2196F3;
}

.logo {
    background-color: #e9e7e7;
    margin: 10px 20px 30px 20px;
    padding: 2px;
    border: #3226ae solid 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo2 {
    display: none;
}
.logo2.active {
    background-color: #e9e7e7;
    margin: 10px 20px 30px 20px;
    padding: 2px;
    border: #3226ae solid 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo span img {
    align-items: center;
    height: 50px;
    transition: 1s;
}
.logo.active{
    margin-top: 10px;
    transition: 1s;
    display: none;
    height: 45px;
}


#mobnav {
    display: none;
    }
.mobnav{
   background: #3226ae;
    }
.mobnav .navbar-header {
    display: inline;
    
}
.mobnav .navbar-header .logo {
    display: flex;
}
.mobnavli {
        list-style: none;
        background: #32268c;
        border-radius: 10px;
        color: #fff;
        width: 100%;
        margin: 10px;
    }
.mobnavli a {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
    }
.mobnavli ul li {
        list-style: none;
    }
.mobnavli ul li a {
        text-decoration: none;
        font-size: 2vw;
    }

.mobnavli .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 2.5vw;
}
.mobnavli .title {
    position: relative;
    display: block;
    margin-left: 5px;
    padding-left: 5px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    font-size: 2.5vw;
}
.mobnavli .aro {
    position: absolute;
    right: 100px;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 2.5vw; 
}
/* top nav bar css */

.top-navbar {
    display: none;
}
.top-link {
    color: #e9e7e7 !important;
}
.top-link:hover{
    color: #2196F3 !important;
}

/* user profile */

.user-profile{
    position: absolute;
    background:#3226ae;
    border: 5px solid #3226ae;
    border-radius: 10px;
    top: 10px;
    left: 22%;
    width: calc(100% - 23%);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.user-profile.active {
    width: calc(100% - 9%);
    left: 8%;
}

.user-profile i {
    font-size: 1.5vw;
    color: #e9e7e7;
    cursor: pointer;
    margin: auto;
    transition: 1s;
}
.user-profile i:hover {
    color: #2196F3
}
.user-profile input{
    width: 100%;
    padding: 5px 20px;
    outline: none;
    margin-left: 20px;
    border-radius: 40px;
    background: #e9e7e7;
    border: 1px solid rgb(50, 38, 174 ,0.2);

}

.user-pic img{
    border: 2px solid #3226ae;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-left: auto;
    cursor: pointer;
}
.user-menu.active{
    visibility: visible;
    opacity: 1;

}
.user-menu{
    position: absolute;
    top: 60px;
    right: -6px;
    background: #3226ae;
    width: 200px;
    box-sizing: 0 5px 25px rgb(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.user-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #32268c;
    transform: rotate(45deg);
}
.user-menu h3 {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    background: #32268c;
}
.user-menu h3 span {
    font-size: 14px;
    color: #948585;
    font-weight: 400;

}
.user-menu ul li {
    list-style: none;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.user-menu ul li i
{
    font-size: 20px;
    margin-right: 10px;
    transition: 0.5s;
    color: #fff;
}
.user-menu ul li:hover i {
    color: #2196F3;
}
.user-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}
.user-menu ul li a:hover {
    color: #2196F3;
}
.user-nav {
    z-index: 1;
}
@media screen and (max-device-width:765px) {
    #mobnav {
        display: block;
    }
    .navigation {
        display: none;
    }
    .user-nav {
        display: none;
    }

    .home_page{
        position: relative;
        top: auto !important;
        width: 100% !important;
        left: 0% !important;
    }
   /*  .loginout{
        height: 100% !important;
    } */
    .loginimg{
        /* display: none; */
        border-right: none !important;
        border-bottom: 2px solid rgb(255,255,255,0.3);
        margin-bottom: 10px;
    }
}

/* home page */
.home_page{
    position: absolute;
    left: 22%;
    width: calc(100% - 23%);
    height:calc(100% - 75px); 
    top: 70px;
    transition: 1s;
    background: #2196F3;
}
.home_page.active {
    width: calc(100% - 9%);
    left: 8%;
}

/* dashboard card */
.dash-card{
    margin-bottom: 20px;
    border: 1px solid #3226ae;
    border-radius: 10px;
    color: #616060;
}
.dash-card:hover{
    background:#3226ae;
    color: #fff;
    box-shadow: 2px 2px 10px 2px rgb(50, 38, 174, 0.5);
}
.ble_table th {
    text-align: center;
    justify-content: center;
}
.ble_table tr {
    border: 10px solid #e9e7e7;
    height: 70px;
    background: #fff;
}

.dash_noti_div{
    background: #e9e7e7;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 5px;

}
.dash_notification{
    background: #fff;
    position: relative;
    border: 1px solid #3226ae;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 97%;
    margin-bottom: 20px;
  
}
.dash_notification:hover {
    width: 100%;
    transition: 0.5s;
}

.dash_notification img{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;

}
.dasselect{
    border-radius: 20px;
    height: 35px;
    font-size: 15px;
    border: 1px solid #3226ae;
    background: #e9e7e7;
}
.dasselect option {
    height: auto;
    font-size: 15px;
}
.chart {
    border: 2px solid #e9e7e7;
    border-radius: 10px;
    border: 1px solid #3226ae;
    box-shadow: 2px 2px 10px 2px rgb(50, 38, 174, 0.5);
    
}



/* assets progress bar */
.progr {
    width: 100%;
    height: 30px;

}

/* material page */
/* material registration */
.material {
    border: 2px solid #3226ae;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}
.material legend {
    color: #616060;
    font-size: 20px;
    margin-bottom: 0;
}
.material select {
    border-radius: 20px;
    height: 35px;
    font-size: 15px;
    border: 1px solid #3226ae;
    background: #e9e7e7;

}
.material select option {
    height: auto;
    font-size: 15px;
}

.material-tbl {
    overflow-x: auto;
    width: 100%;
    height: 90%;
}
.material-tbl table {
    width: 120%;
    height: 10%;
}

.material-tbl table th{
    text-align: center;
    justify-content: center;
}
.material-tbl table tr {
    height: 50px;
    justify-content: center;
}
.material-tbl i {
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
}
.material input{
    width: 100%;
    padding: 5px 20px;
    outline: none;
    border-radius: 40px;
    border: 1px solid #3226ae;
    background: #e9e7e7;
}
.material textarea {
    background: #e9e7e7;
    border: 1px solid #3226ae;
    
}
.search input{
    width: 100%;
    padding: 5px 20px;
    outline: none;
    border-radius: 40px;
    border: 1px solid #3226ae;
    background: #e9e7e7;
}
.updiv input {
    width: 100%;
    padding: 5px 20px;
    outline: none;
    border-radius: 40px;
    background: #e9e7e7;
    border: 1px solid #3226ae;
}
.save {
    border-radius: 40px;
    background: #3226ae;
    border: none;
    color: #fff;
    font-size: 1vw;
    height: 32px;
    min-width: 80px;
    padding: 5px;
}

.save:hover {
    background: #32268c;
    color: #fff;
}
.save:focus {
    background: #32268c;
    color: fff;
}

.cancle {
    min-width: 80px;
    border-radius: 40px;
    border: none;
}

::-webkit-scrollbar {
    width: 7px;
    
 
}
::-webkit-scrollbar:hover {
    width: 10px;
    transition: 0.5s;
}
::-webkit-scrollbar-track {
    background: #333;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background: #948585;
}
.material img {
    width: 400px;
}

.loginout {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#3226ae, #a49eeb);
}
.logindiv {
    background: rgb(255,255,255,0.1);
    border: 1px solid rgb(255,255,255,0.3);
    box-shadow: 0px 0px 10px 15px rgb(0,0,0,0.1);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 25px;
    padding: 10px;
}
.logindiv .loginlogo {  
    padding: 10px;
    width: 50%;
    background: #e9e7e7;
    border:1px solid #32268c;
    border-radius: 40px;
}
.logindiv input{
    width: 100%;
    padding: 5px 20px;
    outline: none;
    font-size: 2.5vh;
    border-radius: 40px;
    border: 1px solid rgb(255,255,255);
    background: #e9e7e7;
}
.loginimg {
    width: 100%;
    border-right: 2px solid rgb(255,255,255,0.3);
}

.input-group-text{
    position: relative;
    /* top: -16%; */
    right: -93%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-top: -14px;
    border: none;
    width: 0%;
}

.fa, .fas {
    font-weight: 900;
    font-size: 14px;
}