
<div>
	<uib-tabset active="activeJustified" justified="true"> <uib-tab
		style=" font-size: 1.7rem;
    font-weight: 700;   text-align: left;" heading="Update Tag Registration">
	<!-- Transfer Start  -->
	
		 <div class="row  mt-3">
              
                        
                        <div class="col-md-4" ng-click="totalTag()">
                            <div class="card mb-3 dash-card" style="width: 266px">
                                <div class="card-header">No.of update transaction  </div>
                                <div class="card-body">
                                    <h5 class="card-text card-title"> </h5>
                                    <h3 class="card-text text-end"> 0 </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-click="availableTags()">
                            <div class="card mb-3 dash-card"  style="width: 266px">
                                <div class="card-header">No of asset updated</div>
                                <div class="card-body">
                                    <h5 class="card-text card-title"> </h5>
                                    <h3 class="card-text text-end">0</h3>
                                </div>
                            </div>
                        </div>
                        
                    </div>
	<div class="material mt-5">
		<legend class="dotted text-center"
			style="color: #616060; font-size: 18px;">
			<b>Update Tag Registration</b>
		</legend>
		<hr>

		<form class="row g-3">
 						<div class="col-md-6">
                            <label for="assectcod" class="form-label">Asset ID / Serial No <sup style="color: red;">*</sup></label>
                            <input type="text" class="form-control" id="name" ng-model="assetId" ng-blur="vm.checkSerialNoAssetId(assetId)" placeholder="Enter Asset Id Or Serial no ">
                      	   <span style="color:red" ng-show="invalidID"> {{vm.responce.message}}</span>
                      	   <span style="color:green" ng-show="validID"> {{vm.responce.message}}</span>
                      	
                      
                        </div>
                        <div class="col-md-6">
                        </div>

			<div class="col-md-3" ng-show="validID">
			 <label for="assectcod" class="form-label">Asset Type : {{vm.responce.object.assetType}}</label>
			
			</div>
			<div class="col-md-3" ng-show="validID">
			 <label for="assectcod" class="form-label">Make : {{vm.responce.object.make}}</label>
			
			</div>
			<div class="col-md-3" ng-show="validID">
			 <label for="assectcod" class="form-label">Model: {{vm.responce.object.model}}</label>
			
			</div>
			<div class="col-md-3" ng-show="validID">
			 <label for="assectcod" class="form-label">Location: {{vm.responce.object.branch.branchName}}</label>
			
			</div>
			<div class="col-md-3" ng-show="validID">
			 <label for="assectcod" class="form-label">Serial No: {{vm.responce.object.serialNo}}</label>
			
			</div>
			<div class="col-md-3" ng-show="validID">
			 <label for="assectcod" class="form-label">Asset Id: {{vm.responce.object.assetId}}</label>
			
			</div>
			<div class="col-md-6"></div>
			 <div class="col-md-6" id="printableArea" ng-show="updateTab">
                      <label for="name13">RFID Tag  / Hostname: </label> 
                       <input type="text" class="form-control" id="rfidTag" ng-model="vm.asset.rfidTag"  ng-blur="checkRfidTag(vm.asset.rfidTag)" autofocus  placeholder="Enter Rfid Tag">
                      	<span ng-show="rfidTagErr" style="color:red"> {{rfidTagMsg}}</span>
                      	 <span ng-show="rfidTagVrf" style="color:green"> {{rfidTagMsg}}</span>
                      	  <span ng-show="tagMan" style="color:red"> Tag is Mandatory</span>
                      	 
                      	
						                                         	
						             
                      
			</div>
			<div class="col-md-6" ng-show="updateTab">
			 <label for="name13"></label> 
			                            <button type="submit" class="save" title="Save" style="background: green; margin-top: 29px;" ng-click="vm.saveupdate(vm.responce.object)">Save</button>
			
			</div>
			
			
			<div class="col-12 mt-4 text-center" ng-show="validID">
			
                            <button type="submit" class="save" title="Update" ng-show="vm.responce.object.assetId!=null" ng-click="vm.update(vm.responce.object)">Update Tag</button>
                            <button type="submit" class="save" title="Remove" ng-show="vm.responce.object.availableStatus==1 && vm.responce.object.assetId!=null"  ng-click="vm.remove(vm.responce.object)">Remove Tag</button>
                            
                           
                        </div>
		</form>
	</div>
	<!-- Transfer End   --> </uib-tab> </uib-tabset>
</div>