  <style>
<!--

-->
/*Check Box*/
.c_check {
  visibility: hidden;
  position: relative;
  margin-right: .4em;
   font-size: 2em;
  height: .9em;
  width: .9em;
}
.c_check:before, .c_check:after {
  /* default checkbox */
  box-sizing: border-box;
  visibility: visible;
  display: inline-block;
  content: '';
  touch-action: manipulation;
  cursor: pointer;
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  width: .9em;
  height: .9em;
  /* design */
  border: .1em solid grey;
  border-radius: .1em;
  transition: all .3s ease-in-out;
}
.c_check:after {
  transition: all .3s ease-in-out, border-top, border-right;
  transition-delay: 0s, .3s, .3s;
  z-index: 2;
}
.c_check:checked:after {
  height: .4em;
  border-top: none;
  border-right: none;
  border-width: .15em;
  border-radius: 0px;
  border-bottom-left-radius: .05em;
  border-color: #64c5b1;
  transform: rotate(-45deg) translate(0.1em, 0.2em) scale(1.1);
  box-shadow: -0.05em 0.08em 0.1em rgba(0, 0, 0, 0.5);
}

</style>
 
 <div >
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab style="    text-align: left;font-size: 1.7rem;
    font-weight: 700;"heading="Last 7 Location Report ">
           
          <div class="material mt-5" >
                    
            
                    <form class="row g-3">
                     <div class="col-md-3">
                     </div>
                        <div class="col-md-6" id="printableArea">
                      <label for="name13">Serial No Asset Id: </label> 
						                                         	
						             <input  type="text" ng-model="vm.asset"  uib-typeahead="availablesAsset as availablesAsset.assetId+' '+availablesAsset.serialNo+' '+availablesAsset.make+' '+availablesAsset.model  for availablesAsset in vm.allAssets | filter:$viewValue | limitTo:20" typeahead-no-results="codes"  required
																		class="form-control typeahead-demo mandtry"   />
                       	<span style="color:red" ng-show="assetErr">Asset is Mandatory</span>  
                        </div>
                    
                       
                        
                          
                        <div class="col-12 mt-4 text-center">
                            <button type="submit" class="save"  title="Assined" ng-click="vm.getData()">Get</button>
                            <button type="submit" class="cancleBtn" title="Cancel" ng-click="vm.cancle()">Cancel</button>
                            
                           
                        </div>
                    </form>
                </div>
			<!-- List View Star -->
                <div class="material mt-5" ng-show="showDatatable">
                    <div class="container-fluid">
                    <div class="row">
                      
                           <div class="col-2 text-center">
                                                    <button class="addNew"  data-toggle="tooltip" data-placement="bottom" type="submit"  id="tooltip-touch" title="Export Excel" ng-click="newExcel()">   <i class="bi bi-download"></i></button>
                        
						       <button id="btnExport" ng-json-export-excel data="vm.transactions" report-fields="vm.labels" style="display:none" filename="'Last 7 Location  Report'" ></button>
						            
                        
                        
                        </div>
                         <div class="col-4">
                            <form class="d-flex search">
                                <input class="me-2" type="search" placeholder="Search" aria-label="Search" ng-model="q" >
                            </form>
                        </div>
                          <div class="col-2 text-center">
                          
					              <input type="number" min="1"  class="form-control" ng-model="vm.perPage"    >
                          </div>
                      
                    </div>
                      
                       
                </div>
                    <div class="material-tbl mt-3">
                        <table id="datatable-buttons" class="text-center table-striped align-middle justify-content-center "
                            style="width: 1150px;">
                            <thead>
                                <tr>
                                    <th>Sr No</th>

                                    <th>Asset Type</th>
                                    <th>Serial No</th>
                                    <th>Asset Id</th>
                                   
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Device Detected</th>
                                    <th>Location</th>
                                     <th>Date</th>
                                    <th>Time</th>
                                  

                                </tr>
                            </thead>
                            <tbody>
							<tr ng-repeat="transaction in vm.transactions| filter:q ">
							
                                        
                                
                                    <th>{{$index+1}}</th>
                                    <td>{{transaction.asset.assetType}}</td>
                                    <td>{{transaction.asset.serialNo}}</td>
                                    <td>{{transaction.asset.assetId}}</td>
                                    <td>{{transaction.asset.make}}</td>
                                     <td>{{transaction.asset.model}}</td>
                                      <td>{{transaction.device.deviceName}}</td>
                                      <td>{{transaction.device.locationName}}</td>
                                       <td>{{transaction.idate}}</td>
                                      <td>{{transaction.itime}}</td>
                                  
                                 
										
                                       
                                   
                                </tr>
                               
                            </tbody>
                        </table>
                  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"  ></dir-pagination-controls>

                    </div>
                </div>
		<!-- List View Star -->
            </uib-tab>
           
        </uib-tabset>
    </div>