  <style>
<!--

-->
/*Check Box*/
.c_check {
  visibility: hidden;
  position: relative;
  margin-right: .4em;
   font-size: 2em;
  height: .9em;
  width: .9em;
}
.c_check:before, .c_check:after {
  /* default checkbox */
  box-sizing: border-box;
  visibility: visible;
  display: inline-block;
  content: '';
  touch-action: manipulation;
  cursor: pointer;
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  width: .9em;
  height: .9em;
  /* design */
  border: .1em solid grey;
  border-radius: .1em;
  transition: all .3s ease-in-out;
}
.c_check:after {
  transition: all .3s ease-in-out, border-top, border-right;
  transition-delay: 0s, .3s, .3s;
  z-index: 2;
}
.c_check:checked:after {
  height: .4em;
  border-top: none;
  border-right: none;
  border-width: .15em;
  border-radius: 0px;
  border-bottom-left-radius: .05em;
  border-color: #64c5b1;
  transform: rotate(-45deg) translate(0.1em, 0.2em) scale(1.1);
  box-shadow: -0.05em 0.08em 0.1em rgba(0, 0, 0, 0.5);
}

</style>
 
 <div >
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab style="    text-align: left;font-size: 1.7rem;
    font-weight: 700;"heading="Asset">
            
            <!-- Upload Form Start  -->
 				<div class="material mt-5" ng-show="viewQRTab">
                    <legend class="dotted text-center" style="color: #616060; font-size: 18px;"><b> Assets Tag Registration </b>
                    </legend>
                    <hr>
                    <form class="row g-3">
                     <div class="col-md-3">
                     </div>
                        <div class="col-md-6" id="printableArea">
                      <label for="name13">Available  Tags: </label> <input  type="text" ng-model="vm.selecteTag" name="code" uib-typeahead="availableTag as availableTag.tagCode for availableTag in vm.availableTags | filter:$viewValue | limitTo:20" typeahead-no-results="codes" required
																		class="form-control typeahead-demo mandtry"  typeahead-on-select="vm.unableBtn(supplier)" />
							
						                                             <span ng-show="tagErr" style="color:red">  * Tag is mandatory</span>
						                                         	
						             
                        </div>
                    
                       
                        
                          
                        <div class="col-12 mt-4 text-center">
                            <button type="submit" class="save"  title="Assined" ng-click="vm.upateTags()">Assigned</button>
                            <button type="submit" class="cancleBtn" title="Cancel" ng-click="vm.cancle()">Cancel</button>
                            
                           
                        </div>
                    </form>
                </div>
			<!-- Upload End   -->
             <!-- Upload Form Start  -->
 				<div class="material mt-5" ng-show="uploadTab">
                    <legend class="dotted text-center" style="color: #616060; font-size: 18px;"><b>Upload Assets</b>
                    </legend>
                    <hr>
                    <form class="row g-3">
                        <div class="col-md-6">
                        <label for="inputCity" class="col-form-label">Upload (.Xlsx)</label> 
							                                              	 <input id="uploadAssets"  class="form-control"  type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  

							                                              	 <span ng-show="uploadErr" style="color:red">  * file is mandatory</span>
						                                             	<a href="assets/uploadExcel/Asset.xlsx" type="button"class="btn btn-primary btn-rounded button-style waves-effect waves-light btn-sm"  id="tooltip-touch" title="Upload"  style="margin:10px; display: inline-block;">Download format</a>
						                                             	
						             
                        </div>
                    
                       
                        
                          
                        <div class="col-12 mt-4 text-center">
                            <button type="submit" class="save"  title="Upload" ng-click="vm.uploadSave()" ng-disabled="diabledSaveButton">Upload</button>
                            <button type="submit" class="cancleBtn" title="Cancel" ng-click="vm.cancle()">Cancel</button>
                            
                           
                        </div>
                    </form>
                </div>
			<!-- Upload End   -->
            <!-- Add New Form Start  -->
 				<div class="material mt-5" ng-show="addNew">
                    <legend class="dotted text-center" style="color: #616060; font-size: 18px;"><b>Add New Asset</b>
                    </legend>
                    <hr>
                    <form class="row g-3">
                        <div class="col-md-6">
                            <label for="allocto" class="form-label"> Branch<sup
                                    style="color: red;">*</sup></label>
                           <select class="form-control" ng-model="vm.asset.branch.branchId"
									 ng-options="branch.branchId as branch.branchName for branch in vm.branches"
									required>
									 <option value="" disabled selected>Select Branch </option>
							 </select>
							 <span style="color:red" ng-show="branchErr">Branch is Mandatory</span>
                        </div>
                        <div class="col-md-6">
                            <label for="alloMaterial" class="form-label">Asset Type<sup
                                    style="color: red;">*</sup></label>
                            <select id="selAssetType" class="form-control" ng-model="vm.asset.assetType">
                               <option value="" disabled selected>Select Asset Type</option>
                                <option value="Desktop">Desktop</option>
                                <option value="Laptop">Laptop</option>
                                  <option value="MacBook">MacBook</option>
                                  <option value="Moniter">Moniter</option>
                                   <option value="Router">Router</option>
                                    <option value="Console Switch">Console Switch</option>
                                     <option value="Mobile">Mobile</option>
                                     
                                     <option value="Headset">Headset</option>
                                    <option value="Dock">Dock</option>
                                     <option value="Voip">Voip</option>
                                       <option value="PSTN Phone">PSTN Phone</option>
                                    <option value="Surface">Surface</option>
                                     <option value="AORUS RTX Ti 2080 Gaming BOX">AORUS RTX Ti 2080 Gaming BOX</option>
                               <option value="APRICORN">APRICORN</option>
                                    <option value="Degausser VSSP DataGauss LG">Degausser VSSP DataGauss LG</option>
                                     <option value="Network Security">Network Security</option>
                                     
                                        <option value="VC  Equipment">VC  Equipment</option>
                                    <option value="Wireless controller">Wireless controller</option>
                                     <option value="Network Security">Forensic Device</option>
                            	 <option value="Storage">Storage</option>
                                    <option value="Switch">Switch</option>
                                     <option value="Network Security">UPS</option>
                             
                             
                            </select>
                             <span style="color:red" ng-show="assetTypeErr">Asset Type is Mandatory</span>
                        </div>
                        <div class="col-md-6">
                            <label for="assectcod" class="form-label">Serial No<sup style="color: red;">*</sup></label>
                            <input type="text" class="form-control" id="serialNo" ng-model="vm.asset.serialNo"  ng-change="checkSerialNo(vm.asset.serialNo)"placeholder="Enter Serial No">
                      	   <span style="color:red" ng-show="serialNoErr">Serial No is Mandatory</span>
                      	<span ng-show="vm.serialRes.code==500" style="color:red" >Serial No is already Exit</span>
                      
                        </div>
                     <div class="col-md-6">
                            <label for="alloMaterial" class="form-label">Status<sup
                                    style="color: red;">*</sup></label>
                            <select id="alloMaterial" class="form-control"  ng-model="vm.asset.status">
                               <option value="" disabled selected>Select Status</option>
                                <option value="In-Stock">In-Stock</option>
<!--                                 <option value="Assigned">Assigned</option>
 -->                             
                            </select>
                            <span style="color:red" ng-show="statusErr">Status is Mandatory</span>
                        </div>
                        
                        
                        <div class="col-md-6">
                            <label for="assectcod" class="form-label">Purchase Order No</label>
                            <input type="text" class="form-control" id="purchaseOrderNo" ng-model="vm.asset.purchaseOrderNo" placeholder="Enter Purchase Order No">
                        </div>
                        
                        <div class="col-md-6">
                            <label for="assectcod" class="form-label">Invoice No</label>
                            <input type="text" class="form-control" id="invoiceNo" ng-model="vm.asset.invoiceNo" placeholder="Enter Invoice No">
                        </div>
                        
                        
                        <div class="col-md-6">
                            <label for="assectcod" class="form-label">Invoice Date</label>
                            <input type="date" class="form-control" id="invoiceDate" ng-model="vm.asset.invoiceDate" >
                        </div>
                        
                        
                        <div class="col-md-6">
                            <label for="assectcod" class="form-label">Make<sup style="color: red;">*</sup></label>
                            <input type="text" class="form-control" id="make" ng-model="vm.asset.make" placeholder="Enter make">
                       	<span style="color:red" ng-show="makeErr">Make is Mandatory</span>

                       
                        </div>
                        
                         <div class="col-md-6">
                            <label for="assectcod" class="form-label">Model<sup style="color: red;">*</sup></label>
                            <input type="text" class="form-control" id="model" ng-model="vm.asset.model" placeholder="Enter Model">
                        	<span style="color:red" ng-show="modelErr">Model is Mandatory</span>
                        
                        </div>
                           <div class="col-md-6">
                            <label for="assectcod" class="form-label">Age</label>
                            <input type="number" class="form-control" id="age" ng-model="vm.asset.age" placeholder="Enter Age">
                        
                        </div>
                          
                        <div class="col-12 mt-4 text-center">
                            <button type="submit" class="save" ng-click="vm.save(vm.asset)" title="Save" ng-disabled="diabledSaveButton">Submit</button>
                            <button type="submit" class="cancleBtn" ng-click="vm.cancle()" title="Cancel">Cancel</button>
                            
                           
                        </div>
                    </form>
                </div>
			<!-- Add New Form End   -->
			<!-- List View Star -->
                <div class="material mt-5">
                    <div class="container-fluid">
                    <div class="row">
                      
                        
                        <div class="col-2 text-center">
                                                    <button class="addNew"  data-toggle="tooltip" data-placement="bottom" type="submit"  id="tooltip-touch" title="Export Excel" onclick="fnExcelReport();">   <i class="bi bi-download"></i></button>
                        
						            
                        
                        
                        </div>
                     
                        
                      
                    </div>
                     
                       
                </div>
                    <div class="material-tbl mt-3">
                        <table id="datatable-buttons" class="text-center table-striped align-middle justify-content-center "
                            style="width: 1150px;">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                     <th>Location</th>
                                    <th>Asset Type</th>
                                    <th>Serial No</th>
                                    <th>Asset Id</th>
                                    <th>Purchase Order No</th>
                                    <th>Invoice No</th>
                                    <th>Invoice Date</th>
                                    <th>Make</th>
                                    <th>Model</th>
                                     <th>Age</th>
                                       
                                    <th>Status</th>
                                     <th>Modified By</th>
                                      <th>Modified Date</th>
                                  

                                </tr>
                            </thead>
                            <tbody>
							<tr ng-repeat="asset in vm.assets">
							
                                        
                                
                                    <th>{{$index+1}}</th>
                                    <td>{{asset.branch.branchName}}</td>
                                    <td>{{asset.assetType}}</td>
                                    <td>{{asset.serialNo}}</td>
                                    <td>{{asset.assetId}}</td>
                                    <td>{{asset.purchaseOrderNo}}</td>
                                    <td>{{asset.invoiceNo}}</td>
                                    <td>{{asset.invoiceDate|date:'dd-MM-yyyy'}}</td>
                                    <td>{{asset.make}}</td>
                                    <td>{{asset.model}}</td>
                                     <td>{{asset.age}}</td>
                                    <td>{{asset.status}}</td>
                                     <td>{{asset.added_by}}</td>
                                      <td>{{asset.addedDate|date:'dd-MM-yyyy'}}</td>
                                  <!--    <td>{{asset.tagCode}}</td> -->
                                   
										
                                    
                                </tr>
                               
                            </tbody>
                        </table>
                  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"  ></dir-pagination-controls>

                    </div>
                </div>
		<!-- List View Star -->
            </uib-tab>
           
        </uib-tabset>
    </div>
     <script>
    
    function fnExcelReport()
    {
        var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j=0;
        tab = document.getElementById('datatable-buttons'); // id of table

        for(j = 0 ; j < tab.rows.length ; j++) 
        {     
            tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text=tab_text+"</table>";
        tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
        tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE "); 

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html","replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus(); 
            sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
        }  
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

        return (sa);
    }
    
    
    
    </script>